---
layout: default
post: true
---
{% if page.author == nil %}
  {% assign author = "amitaibu" %}
{% else %}
  {% assign author = page.author %}
{% endif %}

{% for authors in site.authors %}
  {% for author_info in authors %}
    {% if author_info[0] == author %}
      {% assign author = author_info[1] %}
    {% endif %}
  {% endfor %}
{% endfor %}
<article id="post-page">
  <div class="page-container">
    <div class="no-flex-row">
      <div class="post-title"> <!-- col-sm-10 col-sm-offset-1 -->
        <h1><a href="{{ page.url }}">{{ page.title }} </a></h1>
        <div class="post-author">By {{ author.name }}</div>
      </div>
    </div>
    <div class="flex-row">
      <div id="" class="post-data sidebar"> <!-- col-sm-2 col-sm-offset-1 -->
  			<div id="post-label">
  		 		<a href="/blog"><span class="label label-default">Gizra Blog</span></a>
  			</div>
        <div class="date">{{ page.date | date_to_string }}</div>
        <section class="author-details">
          <div class="image-wrapper">
            <img src="/images/team/avatars/{{ author.avatar }}" class="img-circle img-responsive">
          </div>
          <div class="text-wrapper">
            <span class="name">{{ author.name }}</span>
            {% if author.twitter %}
              <span class="twitter">(@{{ author.twitter }})</span>
            {% endif %}
            <div class="title">{{ author.title }}</div>
            <div class="bio">{{ author.bio }}</div>
          </div>
        </section>
        <div class="tags">
          <div class="title">Tags:</div>
          {% unless page.tags == empty %}
            <ul class="inline">
              {% assign tags_list = page.tags %}
              {% include tags_list.html %}
            </ul>
          {% endunless %}
        </div>
      </div>
      <div id="post-content" class="post-content"> <!-- col-sm-8 -->

        {{ content }}

      </div>
    </div>
  </div>
</article>
<section id="post-nav">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-sm-offset-3 col-xs-6 previous">
        {% if page.previous %}
        <a href="{{ page.previous.url }}">
          <div id="previous-label" class="text-small">
            <span class="hidden-xs"><i class="fa fa-chevron-circle-left"></i>&nbsp;{{ page.previous.title }}</span>
            <span class="visible-xs"><i class="fa fa-chevron-circle-left"></i>&nbsp;Previous post</span>
          </div>
        </a>
        {% endif %}
      </div>
      <div class="col-sm-3 col-sm-offset-2 col-xs-6 next">
        {% if page.next %}
        <a href="{{ page.next.url }}">
          <div id="next-label" class="text-small">
            <span class="hidden-xs">{{ page.next.title }}&nbsp;<i class="fa fa-chevron-circle-right"></i></span>
            <span class="visible-xs">Next post&nbsp;<i class="fa fa-chevron-circle-right"></i></span>
          </div>
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-3">
        {% include disqus.html %}
      </div>
    </div>
  </div>
</section>
    
