---
layout: default
---
{% if page.author == null %}
  {% assign author = "Amitaibu" %}
{% else %}
  {% assign author = page.author %}
{% endif %}

{% for authors in site.authors %}
  {% for author_info in authors %}
    {% if author_info[0] == author %}
      {% assign author = author_info[1] %}
    {% endif %}
  {% endfor %}
{% endfor %}

<header class="header-post">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <nav id="nav" role="navigation" class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/team">Meet the team</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="gizra-logo"><a href="/">gizra</a></div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <article class="post">
        <h1><a href="{{ page.url }}">{{ page.title }} </a></h1>
        <div class="date">{{ page.date | date_to_string }}, By {{ author.name }}</div>
        <div class="tags">{% unless page.tags == empty %}
          <ul class="inline">
            {% assign tags_list = page.tags %}
            {% include tags_list.html %}
          </ul>
          {% endunless %}</div>
        <div class="post-content">

          {{ content }}

        </div>
      </article>
      <section class="post-nav">
        <div class="row">
          <div class="col-sm-6 previous">
            {% if page.previous %}
            <div class="text-uppercase">
              <a href="{{ page.previous.url }}">Previous</a>
            </div>
            <a href="{{ page.previous.url }}" class="prev-text">
              {{ page.previous.title }}
            </a>
            {% endif %}
          </div>
          <div class="col-sm-6 next">
            {% if page.next %}
            <div class="text-uppercase">
              <a href="{{ page.next.url }}">Next</a>
            </div>
            <a href="{{ page.next.url }}" class="next-text">
              {{ page.next.title }}
            </a>
            {% endif %}
          </div>
        </div>
      </section>
      <section class="author-details">
        <div class="image-wrapper">
          <img src="/images/team/{{ author.twitter }}.jpg" class="img-circle img-responsive">
        </div>
        <div class="text-wrapper">
          <span class="name">{{ author.name }}</span> <span class="twitter">(@{{ author.twitter }})</span>
          <div class="title">{{ author.title }}</div>
          <div class="bio">{{ author.bio }}</div>
        </div>
      </section>
      <div class="bottom-dash-small"></div>
      <section>
        {% include disqus.html %}
      </section>
    </div>
  </div>
</div>
