---
layout: default
---

{% if page.author == null %}
  {% assign author = "Amitaibu" %}
{% else %}
  {% assign author = page.author %}
{% endif %}

{% for authors in site.authors %}
  {% for author_info in authors %}
    {% if author_info[0] == author %}
      {% assign author = author_info[1] %}
    {% endif %}
  {% endfor %}
{% endfor %}

<section id="post-page">
  <div class="background">
    <img src="/images/post/background.png">
  </div>

  <div class="baloons"></div>
  <div class="post-back">
    <a href="/blog">
      <img src="/images/post/post-back.png">
    </a>
  </div>

  <div class="content">
    <div class="container">
      <div class="row">

        <div class="col-md-12 post">
          <div class="row">
            <div class="post-label col-xs-12">
              <a href="{{ page.url }}">{{ page.title }}</a>
            </div>
          </div>

          <div class="row small-row">
            <div class="date col-md-3 col-sm-3 col-xs-4">{{ page.date | date_to_string }}</div>
            <div class="seprator col-md-1 col-sm-1 col-xs-1">|</div>
            <div class="author col-md-8 col-sm-7 col-xs-6">By {{ author.name }}</div>
          </div>

          <div class="row small-row">
            <div class="comments-count col-sm-3"><a href="http://www.gizra.com{{page.url}}#disqus_thread"></a></div>
            <div class="tags col-sm-9">Project management, Drupal-planet</div>
          </div>

          <div class="row">
            <div class="col-xs-12 post-content">
              {{ content }}
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 bottom-dash"></div>
          </div>

          <div class="row post-nav">
            <div class="col-xs-6">
              <div class="previous">
                <a href="#prev">
                  Previous
                </a>
              </div>
              {% if page.previous %}
              <a href="{{ page.previous.url }}" class="prev-text">
                {{ page.previous.title }}
              </a>
              {% endif %}
            </div>
            <div class="col-xs-6">
              <div class="next">
                <a href="#next">
                  Next
                </a>
              </div>
              {% if page.next %}
              <a href="{{ page.next.url }}" class="next-text">
                {{ page.next.title }}
              </a>
              {% endif %}
            </div>
          </div>

          <div class="row author-details">
            <div class="col-xs-2 image-wrapper">
              <img src="/images/team/{{ author.twitter }}.jpg" class="img-responsive">
            </div>
            <div class="col-xs-10 text-wrapper">
              <span class="name">{{ author.name }}</span> <span class="twitter">(@{{ author.twitter }})</span>
              <div class="title">{{ author.title }}</div>
              <div class="bio">{{ author.bio }}</div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 bottom-dash-small"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include disqus.html %}
{% include comments_count.html %}
