#about-page {
  background: url('/assets/images/about-story/background.jpg');
  color: #464646;
  font-family: 'Hind', sans-serif;
  font-size: 18px;
  line-height: 1.9em;
  letter-spacing: 0.020em;

  @media (min-width: 1200px) {
    .container {
      width: 940px;
    }
  }

  @media (max-width: 767px) {
    padding-left: 0;
    padding-right: 0;
  }

  p {
    margin-top: 60px;
  }

  h1 {
    text-align: center;
    font-size: 60px;
    line-height: 60px;
    margin-top: 0;
    padding-top: 50px;
    font-weight: lighter;
    font-family: 'Abril Fatface';
    text-shadow: 2px 1px 1px white;
  }

  .section1 {

    .last {
      margin-bottom: 60px;
    }
  }

  .section2 {
    background: url('/assets/images/about-story/lamp.jpg') no-repeat no-repeat;
    height: 300px;
    opacity: 0.85;
  }

  .section3 {
    margin-bottom: 50px;
  }

  .section4 {
    background: url('/assets/images/about-story/fish.jpg') no-repeat no-repeat;
    border-radius: 50%;
    width: 600px;
    height: 600px;
    margin: 0 auto;
    border: 10px solid white;

    .backstretch {
      border-radius: 50%;
    }
  }

  .holder {
    height: 50px;
  }

  .image-section {
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    background-attachment: fixed;
    background-size: cover;
  }

  @media (max-width: 767px) {

    .text-section {
      padding-left: 20px;
      padding-right: 20px;
    }

    .section4 {
      width: 300px;
      height: 300px;
    }
  }
}
