#blog-page {
  margin: 40px 0;

  h1.title {
    @include title;
    } 

  #pager {
    list-style: none;
    margin-top: 14px;
    margin-bottom: 85px;

    .pager-nav {
      padding-left: 0;
      list-style-type: none;
      font-size: 1.2em;
      font-weight: 500;
    }

    .prev,
    .next {
      width: 50%;

      a {
        text-decoration: none;
      }
    }

    .prev {
      float: left;
    }

    .next {
      float: right;
      text-align: right;
    }

    a {
      color: $gizra-orange;
    }
  }
}

// blog class for homepage and blog page. 
.blog {
  margin-bottom: 20px;

  .post-teaser {
    @extend .soft-box;
    box-shadow: none;
    position: relative;
    margin-bottom: 28px;
    padding-top: 10px;
    padding-bottom: 7px;
    border-radius: 6px;

    > * {
      margin-right: 10px;
      margin-left: 10px;
    }
  }

  .author-details {
    position: relative;

    .name, .date {
      margin-bottom: 0.2em;
      line-height: 1.2;

      a {
        color: $gizra-orange;
        text-decoration: none;
      }

      i {
        margin-right: 5px;
        font-size: 0.9em;
      }
    }

    .avatar {
      @extend .soft-box;
      padding: 4px;
      width: 60px;
      position: absolute;
      z-index: 4;
      top: -46px;
      right: 12px;
      background: white;
    }
  }

  .article {
    .main-image {
      position: relative;
      display: block;
      border: 1px solid #C5C5C5;
      margin-bottom: 12px;
      overflow: hidden;
      background: black;

      img {
        @include transition(all 0.5s ease-in-out);
        position: relative;
        width: 100%;

        &:hover {
          @include transform(scale(1.15));
          opacity: 0.5;
        }
      }
    }

    h3.title {
      margin-top: 0;
      margin-bottom: .2em;
    }
  }

  .blog-more {
    text-align: center;
    margin-bottom: 45px;

    a {
      @extend .soft-box;
      color: $gizra-blue;
      font-weight: 400;
      text-decoration: none;
      padding: $spacing;
      display: inline-block;
    }
  }
}

@include desktop {
  .blog .article .main-image {
    height: 275px;
  }

  .post-teaser {
    height: 400px;
    overflow: hidden;
  }
}

// Specific media query.
@media (min-width: 550px) and (max-width: 768px) {
  .blog .post-teaser {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }
}

// Specific media query.
@media (max-width: 450px) {
  .blog .author-details .avatar {
    width: 50px;
    top: -48px;
  }
}
