#blog-page {

  @include mobile {
    overflow: hidden;
  }

  .blog {
    margin-bottom: 127px;
  }

  .article-details img {
    padding: 0;
    
    .date {
      color: black;
    }
  }

  .post {
    margin-top: 36px;
    margin-bottom: 66px;

    h1 {
      margin-top: 25px;
      text-transform: capitalize;

      a {
        color: $gizra-orange;
      }
    }

    .article-details {
      margin-bottom: 25px;

      .date {
        color: black;
      }
    }
  }


  #pager {
    list-style: none;
    margin-top: 14px;
    margin-bottom: 85px;

    .pager-nav {
      padding-left: 0;
      list-style-type: none;
      font-size: 23px;
      font-family: verdana, sans-serif;
    }

    .prev,
    .next {
      width: 50%;
    }

    .prev {
      float: left;
    }

    .next {
      float: right;
      text-align: right;
    }

    a {
      color: $gizra-orange;
    }

  }

}
