// Post page.
#header-post,
#header-blog {
  background: url('/images/post/background.png') no-repeat center top;
  background-size: cover;
  text-align: left;

  .gizra-logo {
    margin-bottom: 30px;
  }
}


#header-blog {
  h1 {
    margin-left: 15px;
    color: white;

    a {
      color: inherit;
      text-decoration: none;
    }

  }
}

#blog-page {
  margin-top: 45px;

  #pager {
    list-style: none;
    margin-top: 14px;
    margin-bottom: 85px;

    .pager-nav {
      padding-left: 0;
      list-style-type: none;
      font-size: 1.2em;
      font-weight: 500;
    }

    .prev,
    .next {
      width: 50%;

      a {
        text-decoration: none;
      }
    }

    .prev {
      float: left;
    }

    .next {
      float: right;
      text-align: right;
    }

    a {
      color: $gizra-orange;
    }
  }
}

// Mobile Media query.
@include mobile {

  .post-content {
    overflow-x: hidden;
  }
}
