#portfolio-page {
  margin: 40px 0;
  
  #post-title {
    @include title;
    
    .post-author {
      font-size: 1.387em;
      font-weight: 100;
      font-family: "Hind", sans-serif;
      color: $gizra-black;
    }
  }
  
  .project {
    @extend .divider-bottom;
    margin: 40px 0;
    .project-title {

      h2 {
        color: $gizra-orange;
      }
    }

    .project-data {
      font-size: 0.857em;
      
      .project-data-client,
      .project-data-url,
      .project-data-date {
        
        .title {
          font-weight: bold;
        }        
      }
      .project-data-case {
        margin-top: 20px;
        font-size: 29.124px;
  
        a {
          text-decoration: none;
        }
  
        .label {
          border-radius: 0;
        }
      }
    }
  }
}
