#post-page {
  margin: 40px 0;
  
  #post-title {
    @include title;
    
    .post-author {
      font-size: 1.387em;
      font-weight: 100;
      font-family: "Hind", sans-serif;
      color: $gizra-black;
    }
  }
  
  #post-data {

    #post-label {
      font-size: 29.124px;
      margin: 0.4em 0 1em;
    
      a {
        text-decoration: none;
      }
    
      .label {
        border-radius: 0;
      }
    }

    .date {
      font-size: 0.7619em;
      line-height: 1.2;
      font-weight: 600;
    }

    .author-details {
      margin-bottom: 1em;
  
      img {
        width: 95px;
        margin: 6px;
      }
  
      .text-wrapper {
        padding: 0.5em 0;
        
        .title {
          margin-bottom: 0.5em;
        }
      }
  
      .name, 
      .title, 
      .bio, 
      .twitter {
        font-size: 0.7619em;
        line-height: 1.2;
      }

      .name, 
      .twitter, 
      .title {
        color: $gizra-blue;
      }

      .bio a {
        color: $gizra-orange;
      }
    }
 
  
    .tags {
      font-size: 0.7619em;
      line-height: 1.2;
      
      .title {
        font-weight: 600;
      }

      ul {
        list-style-type: none;
        margin-bottom: 1em;
        padding-left: 0;
      }
  
      li {
        padding-left: 0;
        display: inline;

        a {
          font-weight: normal;
        }
  
        &::after {
          color: $gizra-blue;
          content: '/';
        }
  
        &:last-child {
  
          &::after {
            content: '';
          }
        }
      }  
    }
  }

  #post-content {

    h2 {
      text-transform: uppercase;
    }
  
    h3 {
      color: $gizra-black;
      text-transform: uppercase;
    }

    ul, ol {
      margin-top: 0;
      margin-bottom: 1em;
      padding-left: 24px;
  
      li {
        padding-left: 16px;
      }
    }
  
    .highlight {
      margin: 35px 0;
    }

    .demo-block a {
      margin-top: 20px;
      display: inline-block;
      padding: 10px;
      border-radius: 4px;
      color: #ffffff;
      background: $gizra-blue;
    }
  
    em {
      font-weight: bold;
    }
  
    blockquote {
      font-size: 0.857em;
      border-left: 5px gray solid;
      margin-left: 10px;
    }
    
    table {
      margin-bottom: 20px;
  
      td, th {
        border: 1px solid #717171;
        padding: 3px 5px;
      }
    }    
  }  
}

#post-nav {
  line-height: 1.2;
  color: $gizra-orange;
  margin: 1.618em 0;

  #previous-label, #next-label {
    font-weight: 600;;
  }

  .next {
    text-align: right;
  }

  .prev-text,
  .next-text {
    display: block;
    margin-top: 0;
  }

  a {
    color: $gizra-orange;
    
    &:hover {
      text-decoration: none;
    }
  }
}
