// Post page.
.header-post {
  background: url('/images/post/background.png') no-repeat center top;
  background-size: cover;
  text-align: left;
  height: 310px;
}

.post {
  font-family: helvetica, sans-serif;
  margin-top: 61px;
  font-size: 26px;

  h1,
  h2,
  h3 {
    margin-top: 25px;
    color: $gizra-blue;

    a {
      color: $gizra-blue;
    }
  }

  h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 6px;

    a {
      font-weight: bold;
      text-decoration: none;
    }
  }

  h2 {
    font-size: 22px;
    text-transform: uppercase;
  }

  h3 {
    font-size: 20px;
  }

  .date {
    font-size: 18px;
    color: $gizra-blue;
  }

  .tags {

    .tags-icon {
      float: left;
      padding: 0 6px 0 0;
    }

    ul {
      list-style-type: none;
      margin-bottom: 15px;
      padding-left: 0;
      font-size: 18px;
    }

    li {
      padding-left: 0;
      display: inline;

      &:after {
        content: ',';
      }

      &:last-child {

        &:after {
          content: '';
        }
      }
    }

    a {
      font-weight: normal;
    }
  }

  .post-content {
    font-size: 18px;
    line-height: 25px;
  }

  img {
    padding-top: 35px;
    padding-bottom: 6px;
  }

  .caption {
    font-size: 19px;
    margin-bottom: 10px;
  }

  ul {
    font-size: 18px;
    line-height: 35px;
    margin-top: 20px;
    margin-bottom: 38px;
    padding-left: 24px;

    li {
      padding-left: 16px;
    }
  }

  .highlight {
    margin: 35px 0;
  }

  ol {
    font-size: 18px;
    line-height: 36px;
    margin-top: 35px;
    margin-bottom: 30px;

    li {
      margin-bottom: 13px;
    }
  }

  em {
    font-weight: bold;
  }


  a {
    color: $gizra-blue;
    text-decoration: underline;
  }

  blockquote {
    font-size: 21px;
    font-family: Verdana;
    padding-left: 51px;
    line-height: 32px;
    border-left: 10px gray solid;
    margin-left: 10px;
  }
}

.post-nav {
  color: $gizra-orange;
  margin-top: 40px;

  .previous,
  .next {
    font-size: 18px;
  }

  .next {
    text-align: right;
  }

  .prev-text,
  .next-text {
    display: block;
    margin-top: 0;
    font-size: 15px;
    letter-spacing: 0.2px;
  }

  a {
    color: $gizra-orange;
  }
}

.author-details {
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: Helvetica;
  
  .image-wrapper {
    float: left;
  }

  img {
    width: 95px;
    margin: 6px;
  }
  
  .text-wrapper {
    margin-left: 130px;
    padding-top: 11px;
    font-size: 18px;
    line-height: 25px;
  }

  .bio {

    a {
      color: $gizra-orange;
    }
  }
  
  .name,
  .twitter,
  .title {
    color: $gizra-blue;
  }
}

.bottom-dash-small {
  border-bottom: 2px dashed #838383;
  margin: 30px 0;
}

