.content-container {
  padding: 10px;
  max-width: 480px;
  margin: 0 auto;

    @include desktop {
      max-width: 660px;
    }

    @media (min-width: 1200px) {
      max-width: 740px;
    }

    @media (min-width: 1440px) {
      max-width: 780px;
    }
}

.post {
  h1,
  h2,
  h3 {
    @extend .headers-styling;
  }

  h1 {
    @extend .h1-styling;
    margin-bottom: 6px;
  }

  h2 {
    font-size: 22px;
    text-transform: uppercase;
  }

  h3 {
    font-size: 20px;
  }

  .date {
    font-size: 18px;
  }

  .tags {

    .tags-icon {
      float: left;
      padding: 0 6px 0 0;
    }

    ul {
      list-style-type: none;
      margin-bottom: 15px;
      padding-left: 0;
      font-size: 18px;
    }

    li {
      padding-left: 0;
      display: inline;

      &::after {
        content: ',';
      }

      &:last-child {

        &::after {
          content: '';
        }
      }
    }

    a {
      font-weight: normal;
    }
  }

  .post-content {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 25px;

    @include desktop {
      font-size: 21px;
    }
  }

  .post-content p {
    @include desktop {
      line-height: 1.7;
    }
  }

  .caption {
    font-size: 19px;
    margin-bottom: 10px;
  }

  ul {
    font-size: 18px;
    line-height: 35px;
    margin-top: 20px;
    margin-bottom: 38px;
    padding-left: 24px;

    li {
      padding-left: 16px;
    }
  }

  .highlight {
    margin: 35px 0;
  }

  ol {
    font-size: 18px;
    line-height: 36px;
    margin-top: 35px;
    margin-bottom: 30px;

    li {
      margin-bottom: 13px;
    }
  }

  em {
    font-weight: bold;
  }


  a {
    color: $gizra-blue;
    text-decoration: underline;
  }

  blockquote {
    font-size: 21px;
    padding-left: 51px;
    line-height: 32px;
    border-left: 10px gray solid;
    margin-left: 10px;
  }
}

.post-nav {
  color: $gizra-orange;
  margin-top: 40px;

  .previous,
  .next {
    font-size: 18px;
  }

  .next {
    text-align: right;
  }

  .prev-text,
  .next-text {
    display: block;
    margin-top: 0;
    font-size: 15px;
  }

  a {
    color: $gizra-orange;
  }
}

#post-page {
  .author-details {
    margin-top: 35px;

    .image-wrapper {
      float: left;
    }

    img {
      width: 95px;
      margin: 6px;
    }

    .text-wrapper {
      margin-left: 130px;
      padding-top: 11px;
      font-size: 18px;
      line-height: 25px;
    }

    .bio {

      a {
        color: $gizra-orange;
      }
    }

    .name,
    .twitter,
    .title {
      color: $gizra-blue;
    }
  }

}
