#header-service {
  background: url('/images/services/background.jpg') no-repeat center top;
  background-size: cover;
  text-align: left;

  .gizra-logo {
    margin-bottom: 30px;
  }
}

#service-page {

  p {
    @extend .p-styling;
  }

  h3 {
    @extend .h3-styling;
  }

  h4 {
    @extend .h4-styling;
  }
}
