// Post page.
#header-services {
  background: url('/images/post/background.png') no-repeat center top;
  background-size: cover;
  text-align: left;

  .gizra-logo {
    margin-bottom: 30px;
  }
}


#services-page {
  margin-top: 45px;
}

.services {
  margin-top: 35px;
  margin-bottom: 20px;

  .post-teaser {
    @extend .soft-box;
    position: relative;
    margin-bottom: 28px;
    padding-top: $spacing;
    padding-bottom: 7px;
    border-radius: 6px;
    height: 450px;

    > * {
      margin-right: $spacing;
      margin-left: $spacing;
    }
  }

  .author-details {
    margin-bottom: 10px;
    position: relative;

    .name {
      margin-bottom: 5px;
      font-family: 'Raleway', sans-serif;
      font-size: 1em;
      font-weight: bolder;
      letter-spacing: 0.03em;

      a {
        color: $gizra-orange;
        text-decoration: none;
      }
    }

    .date {
      margin-bottom: 5px;
      font-size: 1.1em;

      i {
        margin-right: 5px;
        font-size: 0.9em;
      }
    }

    .avatar {
      @extend .soft-box;
      padding: 4px;
      width: 60px;
      position: absolute;
      z-index: 4;
      top: -46px;
      right: 12px;
      background: white;
    }
  }

  .article {
    .main-image {
      position: relative;
      display: block;
      border: 1px solid #C5C5C5;
      margin-bottom: 12px;
      overflow: hidden;
      background: black;

      img {
        @include transition(all 0.5s ease-in-out);
        position: relative;
        width: 100%;
        height: 225px;

        &:hover {
          @include transform(scale(1.15));
          opacity: 0.5;
        }
      }
    }

    .title {
      @extend .h1-styling;
      margin-bottom: 0;
      text-transform: none;
      line-height: 1.35em;
      font-size: 1.4em;
    }
  }

  .blog-more {
    text-align: center;
    margin-bottom: 45px;

    a {
      @extend .soft-box;
      color: $gizra-blue;
      font-weight: 400;
      text-decoration: none;
      padding: $spacing;
      display: inline-block;
    }
  }
}

// Mobile Media query.
@include mobile {

  .post-content {
    overflow-x: hidden;
  }
}
