#header-team {
  background: url('/images/team/background.png') no-repeat center top;
  background-size: cover;
  width: 100%;
  text-align: left;
  padding-bottom: 255px;

  .introduction {
    color: white;
    margin-top: 50px;
    margin-left: 10px;

    h1 {
      margin-bottom: 5px;
    }

    p {
      max-width: 600px;
      font-size: 20.5px;
      line-height: 1.5em;
    }

    .arrow-down {
      display: block;
      margin-top: 87px;
      margin-left: 16px;
    }
  }
}

#team-page {
  position: relative;

  .member-box {
    padding-left: 0;
    padding-right: 0;

    .popup-block {
      display: none;

      .background {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: $gizra-orange-hover;
        opacity: 0.5;
        z-index: 1000;
      }

      .info {
        font-size: 18px;
        text-align: center;
        position: absolute;
        bottom: 20%;
        width: 100%;
        z-index: 3000;
      }

      .name,
      .title {
        color: white;
        text-transform: uppercase;
      }

      .name {
        font-weight: bold;
        margin-bottom: 10px;
      }

      ul {
        list-style-type: none;
        margin-top: 43px;
        padding: 0;

        li {
          display: inline;
          margin-left: 5%;
          margin-right: 5%;
          color: white;
        }

        img {
          max-width: 35px;
        }

        a {
          text-decoration: none;
          color: inherit;
        }

        .facebook {
          height: 35px;
          margin-left: 2px;
          margin-bottom: 5px;
        }
      }
    }
  }
}

// Desktop Media query.
@include desktop {

  #team-page .member-box {
    height: 449px;
  }
}

// Mobile Media query.
@include mobile {

  #header-team {
    padding-bottom: 100px;
  }

  #team-page .member-box .popup-block ul {
    margin-top: 15px;
  }
}
