---
layout: default
title: Elm Web Development Company - Gizra
description: Powering dynamic web applications. Gizra is an Elm language Web Development Company based in New York and Israel. Software, web apps and websites with Elm language. We provide a team of skilled Elm-language experts working in your project. We're experienced in building web applications on demand.
keywords: Elm-lang, Elmlang, Elm, Elm frontend, Functional Programming, Elm Services, Elm web app, Elm web app development, Elm web application development, Elm development Services
tags:
- Elm
post_limit: 3
---
<section id="elm-page">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h1 class="title">ELM Web Development</h1>
        <div class="description">
          <h3>Highly interactive web applications using Elm</h3>
          <p>
            Gizra is a digital agency. We build dynamic web applications and websites using
            different systems and frameworks such as Angular, ELM, Drupal and Symfony.
            We help organizations get into the marketplace faster. We work with
            established companies and start-ups using
            <a href="/content/the-gizra-way">The Gizra Way</a> methology.
          </p>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="service-description">
              <h3>Web Applications with ELM</h3>
              <p>
                <a href="http://elm-lang.org" target="_blank">Elm</a> is an open-source
                web application framework.
                Elm is a functional programming language for declaratively creating
                web browser-based graphical user interfaces. Elm uses the Functional
                Reactive Programming style and purely functional graphical layout to
                build user interface without any destructive updates.
              </p>
            </div>
            <!-- Desktop service features -->
            <div class="service-features-desktop hidden-xs">
              <table class="features" cellspacing="0" cellpadding="0">
                <tr>
                  <td><i class="fa fa-check-circle-o"></i>Smooth JavaScript interop</td>
                  <td><i class="fa fa-check-circle-o"></i>Libraries with guarantees</td>
                  <td><i class="fa fa-check-circle-o"></i>Blazing fast rendering</td>
                </tr>
                <tr>
                  <td><i class="fa fa-check-circle-o"></i>No runtime exceptions</td>
                  <td><i class="fa fa-check-circle-o"></i>Time-traveling debugger</td>
                  <td><i class="fa fa-check-circle-o"></i>Clean syntax</td>
                </tr>
              </table>
            </div>
            <!-- Mobile service features -->
            <div class="service-features-mobile visible-xs">
              <div><i class="fa fa-check-circle-o"></i>No runtime exceptions</div>
              <div><i class="fa fa-check-circle-o"></i>Blazing fast rendering</div>
              <div><i class="fa fa-check-circle-o"></i>Libraries with guarantees</div>
              <div><i class="fa fa-check-circle-o"></i>Smooth JavaScript interop</div>
              <div><i class="fa fa-check-circle-o"></i>Time-traveling debugger</div>
              <div><i class="fa fa-check-circle-o"></i>Clean syntax</div>
            </div>
          </div>
        </div>
        <h2 class="section-title">Related Projects</h2>
  
        <div class="row projects">
          <div class="col-sm-8 wrapper">
            <h3 class="title">
              <a href="#">Gizra Productivity</a>
            </h3>
            <p class="text">
              Productivity is Gizra's ERP/Project management system, and is part of The Gizra Way
              methodology, the system manages the following areas.
            </p>
            <div id="project-features" class="panel-group">
              <!-- Time tracking -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#project-features" href="#collapse-1">
                      Time tracking
                      <i class="fa fa-chevron-down pull-right"></i>
                    </a>
                  </h4>
                </div>
                <div id="collapse-1" class="panel-collapse collapse">
                  <p class="panel-body">
                    Part of the Gizra Way is to time box every development task,
                    and to monitor per issue time spent, this is a very hard task and therefore we
                    created a flow to make this easy for developers to recored there work.
                    The system is tightly coupled with Github, since we use Github issue queue for
                    all project, the system knows to pull all your work from Github and display it
                    in the time tracking page, leaving the developer to just type the amount of time
                    spent on each task.
                  </p>
                </div>
              </div>
              <!-- Time Boxing -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#project-features" href="#collapse-2">
                      Time Boxing
                      <i class="fa fa-chevron-down pull-right"></i>
                    </a>
                  </h4>
                </div>
                <div id="collapse-2" class="panel-collapse collapse">
                  <p class="panel-body">
                    On this page you can see the project information such as the total hours spent,
                    contracts, extra time, budget and payments overview.
                  </p>
                </div>
              </div>
              <!-- Payment -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#project-features" href="#collapse-3">
                      Payment
                      <i class="fa fa-chevron-down pull-right"></i>
                    </a>
                  </h4>
                </div>
                <div id="collapse-3" class="panel-collapse collapse">
                  <p class="panel-body">
                    Track customer payment according to the milestones and term payment.
                  </p>
                </div>
              </div>
              <!-- Alerts and monitoring -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#project-features" href="#collapse-4">
                      Alerts and monitoring
                      <i class="fa fa-chevron-down pull-right"></i>
                    </a>
                  </h4>
                </div>
                <div id="collapse-4" class="panel-collapse collapse">
                  <p class="panel-body">
                    Productivity sends notification when a project scope reach 25%, 50%, 75% and 100%,
                    when a developer did not record his time, and more.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <img src="/assets/images/services/elm/productivity.png" alt="project name" class="img-responsive project-image"/>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <h2 class="section-title">Related blog posts</h2>
          </div>
          <div class="col-sm-6 blog-link hidden-xs">
            <a href="/blog">
              <span>View blog</span>
            </a>
          </div>
          <div class="col-sm-6 blog-link visible-xs">
            <a href="/blog">View blog</a>
          </div>
        </div>
        <div class="row blog">
          <div class="col-sm-12">
            {% assign index = 0 %}
            {% for post in site.posts %}
              {% for service_tag in page.tags %}
                {% for post_tag in post.tags %}
                  {% if service_tag == post_tag %}
                    {% assign index = index | plus:1 %}
                    {% if index <= page.post_limit %}
                      <div class="col-sm-4">
                        {% include post_teaser.html img_number=index %}
                      </div>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              {% endfor %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
