---
layout: default
title: Team | Gizra
---
<header id="header-team">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        {% include header.html %}
        <div class="introduction">
          <h1 class="text-capitalize">The Team</h1>
          <p>The faces behind Organic Groups, Entity Reference,
            Message Stack, RESTful, and many other contributions, patches,
            blog posts, and presentations.
          </p>
        </div>
      </div>
    </div>
  </div>
</header>
<section id="team-page">
  <div class="container">
    {% include team-members.html %}
  </div>
</section>
