{% comment %}<!--
The blog_list include is a listing helper.
Usage:
  1) assign the 'pages_list' variable to a valid array of pages or posts.
  2) include JB/pages_list
  example:
    <ul>
  	  {% assign pages_list = site.pages %}
  	  {% include JB/pages_list %}
  	</ul>

  Grouping: (optional):
  	assign the 'group' variable to constrain the list to only pages/posts
  	in the given group. Note you must define the group manually in the page/post
  	meta-data to use this feature.
  	Grouping is mainly helpful for non-post pages.
  	If you want to group posts, it's easier/better to tag them, then pass the tagged posts array.
  	i.e. site.tags.cool_tag (this returns an array of posts tagged: cool_tag)

  This helper can be seen in use at: ../_layouts/default.html
-->{% endcomment %}


{% assign posts_per_page = 4 %}
{% assign total_pages = site.posts | size | divided_by:posts_per_page %}

{% assign blog_list = site.posts %}
{% assign blog_list_offset = page.blog_list_page | times:posts_per_page %}
{% for node in blog_list limit:4 offset:blog_list_offset %}
{% if node.title != null %}

<div class="row clearfix post-teaser">
  <div class="span2">
    {% assign post = node %}
    {% include custom/post_sidebar.html %}
  </div>

  <div class="span10">
    <h2><a href="{{ BASE_PATH }}{{node.url}}">{{node.title}}</a></h2>
    <p>
      {% if post.teaser %}
      {{ post.teaser }}
      {% else %}
      {{ post.content | strip_html | truncatewords: 50 }}
      {% endif %}
    </p>
  </div>
</div>

{% endif %}
{% endfor %}
{% assign blog_list = nil %}

{% assign blog_list_page=page.blog_list_page | plus:1 %}

<div id="post-pagination" class="pagination">

  {% if blog_list_page > 1 %}
  <p class="previous">
    {% if blog_list_page == 2 %}
    <a href="/blog">Previous</a>
    {% else %}
    <a href="/blog/page{{blog_list_page | minus:1}}">Previous</a>
    {% endif %}
  </p>
  {% else %}
  <p class="previous disabled">
    <span>Previous</span>
  </p>
  {% endif %}

  <ul class="pages">
    <li class="page">
      {% if blog_list_page == 1 %}
      <span class="current-page">1</span>
      {% else %}
      <a href="/blog">1</a>
      {% endif %}
    </li>

    {% for count in (2..total_pages) %}
    <li class="page">
      {% if count == blog_list_page | plus:1 %}
      <span class="current-page">{{count}}</span>
      {% else %}
      <a href="/blog/page{{count}}">{{count}}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>

  {% if blog_list_page < total_pages %}
  <p class="next">
    <a href="/blog/page{{blog_list_page | plus:1}}">Next</a>
  </p>
  {% else %}
  <p class="next disabled">
    <span>Next</span>
  </p>
  {% endif %}

</div>

{% include custom/comments_count %}