---
layout: default
title: Design + Web Development | Gizra
description: Web development and web design New York and Tel aviv. Gizra is a digital agency, web strategy for business and startups, non-profits, eCommerce, B2B, SaaS and enterprise.
keywords: The Gizra Way, Web development Tel-aviv, Web development New york, Statup POC.
homepage: true
---
<header class="header-homepage">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        {% include header.html %}
        <div id="slogan">
          <h2 class="text-uppercase">
            Take a leap of faith with us,
            <br class="hidden-xs">
            it's beautiful here.
          </h2>
          <p>Build an amazing cutting edge web solution that you will be proud of. Seriously.</p>
          <p>
            Do it in a truly transparent, best practices driven,
            <br/>
            honest partnership with passionate people.
          </p>
          <p class="about-us-story">
            Read our "<a href="/content/the-about-story/">About Story</a>". It's different.
          </p>
        </div>
        <div id="work">
          <h2 class="title">You may have seen our work before</h2>
          <div class="row">
            <!--Our work Desktop-->
            <div class="col-xs-12 hidden-xs">
              <ul class="clients">
                <li class="logo">
                  <img src="/images/homepage/code/harvard.png" class="img-responsive" alt="OpenScholar">
                  <div class="popup-block">
                    <a href="http://openscholar.harvard.edu">OpenScholar</a>
                    , an Open Source web publishing solutions powering thousand of academic websites.
                  </div>
                </li>
                <li class="logo">
                  <img src="/images/homepage/code/acquia.png" class="img-responsive main-block" alt="acquia">
                  <div class="popup-block">
                    Acquia worked with Gizra to develop
                    <a href="https://www.acquia.com/solutions/digital-experience-management/community">Drupal Commons</a>
                    , a social-focused Drupal distribution.
                  </div>
                </li>
                <li class="logo">
                  <img src="/images/homepage/code/commerce-guys.png" class="img-responsive" alt="Commerce Guys">
                  <div class="popup-block">
                    Collaborated with Gizra to build
                    <a href="https://commerceguys.com/product/commerce-kickstart">Commerce Kickstart</a>
                    , an eCommerce focused Drupal Distribution.
                  </div>
                </li>
                <li class="logo">
                  <img src="/images/homepage/code/ec.png" class="img-responsive" alt="European Commission">
                  <div class="popup-block">
                    Collaborated on
                    <a href="http://capacity4dev.ec.europa.eu">Capacity4Dev </a>
                    and Projects4Dev websites that manages international development projects.
                  </div>
                </li>
                <li class="logo">
                  <img src="/images/homepage/code/grammy.png" class="img-responsive" alt="The Grammy Awards">
                  <div class="popup-block">
                    <a href="https://www.grammypro.com/">GrammyPro.com</a>
                    Powered by the high profile Gizra-developed Drupal modules Organic Groups and Message Stack.
                  </div>
                </li>
                <li class="logo">
                  <img src="/images/homepage/code/wix.png" class="img-responsive" alt="WiX">
                  <div class="popup-block">
                    Wix hired Gizra to build feed features for its platform, powering over 70 million websites.
                  </div>
                </li>
                <li class="logo">
                  <img src="/images/homepage/code/white-house.png" class="img-responsive" alt="The White House">
                  <div class="popup-block">
                    <a href="http://www.whitehouse.gov">WhiteHouse.gov</a>
                     Powered by the high profile Gizra-developed Drupal modules Organic Groups and Message Stack.
                  </div>
                </li>
              </ul>
            </div>
            <!--Our work Mobile-->
            <div class="col-xs-12 visible-xs">
              <ul class="clients">
                <li class="logo">
                  <a href="http://openscholar.harvard.edu">
                    <img src="/images/homepage/code/harvard.png" alt="OpenScholar">
                  </a>
                </li>
                <li class="logo">
                  <a href="http://capacity4dev.ec.europa.eu">
                    <img src="/images/homepage/code/ec.png" alt="European Commission">
                  </a>
                </li>
                <li class="logo">
                  <a href="http://www.wix.com">
                    <img src="/images/homepage/code/wix.png" alt="WiX">
                  </a>
                </li>
                <li class="logo">
                  <a href="https://commerceguys.com/product/commerce-kickstart">
                    <img src="/images/homepage/code/commerce-guys.png" alt="Commerce Guys">
                  </a>
                </li>
                <li class="logo">
                  <a href="http://www.whitehouse.gov">
                    <img src="/images/homepage/code/white-house.png" alt="The White House">
                  </a>
                </li>
                <li class="logo">
                  <a href="https://www.acquia.com/solutions/digital-experience-management/community">
                    <img src="/images/homepage/code/acquia.png" alt="acquia">
                  </a>
                </li>
                <li class="logo">
                  <a href="https://www.grammypro.com/">
                    <img src="/images/homepage/code/grammy.png" alt="The Grammy Awards">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<section id="testimonials" class="hidden-xs">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 narrow">
        <!--Recommendations -->
        <h2 class="hp-title">Testimonials</h2>
        {% include testimonials.html %}
      </div>
    </div>
  </div>
</section>
<section id="about">
  <div class="container">
    <div class="row text-wrapper">
      <div class="col-sm-12 narrow">
          <h2 class="hp-title">About us</h2>
          <p>
          Formed in 2009, Gizra Internet Solutions, is a fast growing international software development company with
          an extensive track record in site building and content management system configuration and
          implementation. Gizra is experienced in agile and continuous deployment and is a pioneer in Drupal
          development and software methodologies. Gizra is known among its clients as an efficient executor
          of complex web projects.
          </p>
          <h3>What Makes Us Different</h3>
          <p>
          Gizra developed a unique work methodology called The Gizra Way. It’s a culmination of best practices,
          lessons learned and open source philosophy that we incorporate into our project workflows, saving money
          and ensuring timely delivery. Our clients positive experience is found not only in the excellence of
          their web solution but in the way we get there.
          <br class="hidden-xs"/>The key elements are:<br/>
          </p>
          <h4>True Transparency</h4>
          <p>
          Client has full access to Gizra’s source repository and task tracking system, viewing code commits
          as they happen. This means that all of Gizra’s internal communications and actions are in full view to the client.
          We like it this way because it attains an environment of collaboration,openness and accountability.
          </p>
          <h4>Effective Communication</h4>
          <p>
          Client is a member of the task tracking system and is encouraged to fully participate in
          the development process interacting directly with developers of all levels.
          All stakeholders stay up to date on progress and decisions making occurs quickly and per the client’s
          needs and priorities.
          </p>
          <h4>Meticulous Execution</h4>
          <p>
          Complete deployment and testing system built into projects from day one, growing as the code does.
          We use <a href="http://shoov.io/" target="_blank">Shoov</a>, a Gizra developed testing toolkit conceived from our internal best practices.
          Collaborate with the best designers to ensure design is optimal from visual, interaction and technical standpoint.
          The final design is completed with pixel-perfect implementation.
          </p>
          <h4>Invest in Human Assets & Community</h4>
          <p>
          The Gizra Way is also implemented internally with a flat organizational structure,
          a diligent mentorship program, persistent execution of best practices and an in-house mechanism for continuous improvement.
          As pioneers in the Drupal community we regularly present at DrupalCon and DrupalCamp conferences globalwide. Employees are
          given the opportunity to contribute to the Open Source community on company time.
          </p>
      </div>
    </div>
  </div>
</section>
<section class="blog">
  <div class="container">
    <div class="row text-wrapper">
      <div class="col-sm-12 narrow">
        <h2 class="hp-title">From our blog</h2>
        <article class="post post-teaser">
          {% for post in site.posts limit:1 %}
            {% if post.author == nil %}
              {% assign author = "amitaibu" %}
            {% else %}
              {% assign author = post.author %}
            {% endif %}

            {% for authors in site.authors %}
              {% for author_info in authors %}
                {% if author_info[0] == author %}
                  {% assign author = author_info[1] %}
                {% endif %}
              {% endfor %}
            {% endfor %}
            <div class="article" >
              <p class="title"><a href="{{ post.url }}" >{{ post.title }}</a></p>
              <p class="text">
                {{ post.excerpt |  strip_html | truncate: 300 }}
              </p>
            </div>
          <div class="author-details clearfix">
            <img src="/images/team/avatars/{{ author.avatar }}" class="img-responsive img-circle">
            <p class="name">{{ author.name }}</p>
            <p class="date"><i class="fa fa-calendar"></i> {{ post.date | date_to_string }}</p>
          </div>
          <div class="read-more-wrapper">
            <div class="read-more">
              <a href="{{ post.url }}">
                Read More <i class="fa fa-angle-right"></i>
              </a>
            </div>
          </div>
          {% endfor %}
        </article>
      </div>
    </div>
  </div>
</section>
