---
layout: page
title: "Work"
description: "Show a list of websites"
class: work list-page
---
{% include JB/setup %}

<div class="row clearfix no-margin">

  <ul class="gallery-post-grid holder">

    {% for page in site.pages %}
    {% if page.category contains 'website' %}
    <li  class="span3 gallery-item">
      <a href="{{ page.site_url }}"><img src="{{ page.url }}/thumb.jpg"></a>
      <span class="project-details"><a href="{{ page.site_url }}">{{ page.title }}</a>{{ page.description }}</span>
    </li>
    {% endif %}
    {% endfor %}

  </ul>
</div>