<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 narrow">
        <h2 class="visible-xs main-title mobile-title">About us</h2>
        <div id="main-wrapper">
          <h2 class="hidden-xs main-title">About us</h2>
          <p>
            Gizra Internet Solutions Ltd., formed in 2009 and incorporated in the U.S. as Gizra USA,
            LLC in 2015, is a fast-growing international software development company with an extensive
            track record in site building and implementation of content management systems.
             Known among its clients as an efficient executor of complex web solutions, Gizra is 
             experienced in agile and continuous deployment and is a pioneer in Drupal development and 
             other bleeding-edge projects.
          </p>
          <h3>What Makes Us Different</h3>
          <p>
            Gizra has developed a unique work methodology called <strong>The Gizra Way</strong>.
            It is a culmination of best practices, lessons learned, and open-source
            philosophy that is incorporated into our project workflow, saving our
            clients money and ensuring the timely delivery of a product.
            The satisfaction of our clients is found not only in the excellence
            of their web solution, but in the way we get there.
          </p>
        </div>
        <div id="gizra-way">
          <h2 class="main-title">The Gizra Way</h2>
          <div class="element">
            <h4 class="color-blue">True Transparency</h4>
            <p>
              Our client has full access to the source repository and task tracking system,
              viewing code commits as they happen. This means that all of Gizra’s internal
              communications and actions are in full view to the client. We like it this way
              because it fosters an environment of collaboration, openness, and accountability.
            </p>
          </div>
          <div class="element">
            <h4 class="color-blue">Effective Communication</h4>
            <p>
              Our client is a member of the task-tracking system and is encouraged to participate fully
              in the development process, interacting directly with developers of all levels.
              All stakeholders stay up to date on progress and decision-making occurs in real
              time according to the client’s needs and priorities.
            </p>
          </div>
          <div class="element">
            <h4 class="color-blue">Meticulous Execution</h4>
            <p>
              A complete deployment and testing system is built into our projects from day one, growing as the code does. We use
              <a href="http://shoov.io/" target="_blank">Shoov</a>, a Gizra developed testing toolkit,
              which ensures design is optimal from visual, interaction, and technical standpoints.
              The final design is completed with pixel-perfect implementation.
            </p>
          </div>
          <div class="element">
            <h4 class="color-blue">Investment in Human Assets & Community</h4>
            <p>
              The Gizra Way is also implemented internally with a flat organizational structure,
              a diligent mentorship program, persistent execution of best practices,
              and an in-house mechanism for continuous improvement.
              As pioneers in the Drupal community we regularly present at DrupalCon
              and DrupalCamp conferences worldwide. Employees are encouraged to
              contribute to the Open Source community on company time.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
