<section id="about">
  <div class="container">
    <div class="row text-wrapper">
      <div class="col-sm-12 narrow">
        <h2 class="hp-title">About us</h2>
        <p>
          Formed in 2009, Gizra Internet Solutions, is a fast growing international software development company with
          an extensive track record in site building and content management system configuration and
          implementation. Gizra is experienced in agile and continuous deployment and is a pioneer in Drupal
          development and software methodologies. Gizra is known among its clients as an efficient executor
          of complex web projects.
        </p>
        <h3>What Makes Us Different</h3>
        <p>
          Gizra developed a unique work methodology called The Gizra Way. It’s a culmination of best practices,
          lessons learned and open source philosophy that we incorporate into our project workflows, saving money
          and ensuring timely delivery. Our clients positive experience is found not only in the excellence of
          their web solution but in the way we get there.
          <br class="hidden-xs"/>The key elements are:<br/>
        </p>
        <h4>True Transparency</h4>
        <p>
          Client has full access to Gizra’s source repository and task tracking system, viewing code commits
          as they happen. This means that all of Gizra’s internal communications and actions are in full view to the client.
          We like it this way because it attains an environment of collaboration,openness and accountability.
        </p>
        <h4>Effective Communication</h4>
        <p>
          Client is a member of the task tracking system and is encouraged to fully participate in
          the development process interacting directly with developers of all levels.
          All stakeholders stay up to date on progress and decisions making occurs quickly and per the client’s
          needs and priorities.
        </p>
        <h4>Meticulous Execution</h4>
        <p>
          Complete deployment and testing system built into projects from day one, growing as the code does.
          We use <a href="http://shoov.io/" target="_blank">Shoov</a>, a Gizra developed testing toolkit conceived from our internal best practices.
          Collaborate with the best designers to ensure design is optimal from visual, interaction and technical standpoint.
          The final design is completed with pixel-perfect implementation.
        </p>
        <h4>Invest in Human Assets & Community</h4>
        <p>
          The Gizra Way is also implemented internally with a flat organizational structure,
          a diligent mentorship program, persistent execution of best practices and an in-house mechanism for continuous improvement.
          As pioneers in the Drupal community we regularly present at DrupalCon and DrupalCamp conferences globalwide. Employees are
          given the opportunity to contribute to the Open Source community on company time.
        </p>
      </div>
    </div>
  </div>
</section>
