<div id="work">
  <h2 class="title">You may have seen our work before</h2>
    <!--Our work Desktop-->
    <div class="hidden-xs">
      <ul class="clients">
        <li class="logo">
          <a target="_blank" href="http://openscholar.harvard.edu">
            <img src="/images/homepage/code/harvard.png" class="img-responsive" alt="OpenScholar">
            <div class="popup-block">
              <a target="_blank" href="http://openscholar.harvard.edu">OpenScholar</a>, 
              a publishing solution powering thousands of academic websites.
            </div>
          </a>
        </li>
        <li class="logo">
          <a target="_blank" href="https://docs.acquia.com/commons">
            <img src="/images/homepage/code/acquia.png" class="img-responsive main-block" alt="acquia">
          </a>
          <div class="popup-block">
            Worked together to develop <a target="_blank" href="https://docs.acquia.com/commons">Drupal Commons</a>, 
            a social-focused Drupal distribution.
          </div>
        </li>
        <li class="logo">
          <a target="_blank" href="https://commerceguys.com/product/commerce-kickstart">
            <img src="/images/homepage/code/commerce-guys.png" class="img-responsive" alt="Commerce Guys">
          </a>
          <div class="popup-block">
            Collaborated to build
            <a target="_blank" href="https://commerceguys.com/product/commerce-kickstart">Commerce Kickstart</a>, 
            an eCommerce Drupal Distribution.
          </div>
        </li>
        <li class="logo">
          <a target="_blank" href="http://capacity4dev.ec.europa.eu">
            <img src="/images/homepage/code/ec.png" class="img-responsive" alt="European Commission">
          </a>
          <div class="popup-block">
            Built
            <a target="_blank" href="http://capacity4dev.ec.europa.eu">Capacity4Dev</a> 
            and Projects4Dev, which manage international development projects.
          </div>
      </li>
        <li class="logo">
          <a target="_blank" href="https://www.grammypro.com/">
            <img src="/images/homepage/code/grammy.png" class="img-responsive" alt="The Grammy Awards">
          </a>
          <div class="popup-block">
            <a target="_blank" href="https://www.grammypro.com/">GrammyPro.com</a>
            is powered by the Gizra-developed Organic Groups and Message Stack modules.
          </div>
        </li>
        <li class="logo">
          <img src="/images/homepage/code/wix.png" class="img-responsive" alt="WiX">
          <div class="popup-block ">
            Wix hired Gizra to build feed features for its platform, powering over 70 million websites.
          </div>
        </li>
        <li class="logo">
          <a target="_blank" href="http://www.whitehouse.gov">
            <img src="/images/homepage/code/white-house.png" class="img-responsive" alt="The White House">
          </a>
          <div class="popup-block">
            <a target="_blank" href="http://www.whitehouse.gov">WhiteHouse.gov</a> is
            powered by the Gizra-developed Organic Groups and Message Stack modules.
          </div>
        </li>
      </ul>
    </div>
    <!--Our work Mobile-->
    <div class=" visible-xs">
      <ul class="clients">
        <li class="logo">
          <a target="_blank" href="http://openscholar.harvard.edu">
            <img src="/images/homepage/code/harvard.png" alt="OpenScholar" class="img-responsive">
          </a>
        </li>
        <li class="logo">
          <a target="_blank" href="http://capacity4dev.ec.europa.eu">
            <img class="img-responsive" src="/images/homepage/code/ec.png" alt="European Commission">
          </a>
        </li>
        <li class="logo">
          <a target="_blank" href="http://www.wix.com">
            <img class="img-responsive" src="/images/homepage/code/wix.png" alt="WiX">
          </a>
        </li>
        <li class="logo">
          <a target="_blank" href="https://commerceguys.com/product/commerce-kickstart">
            <img class="img-responsive" src="/images/homepage/code/commerce-guys.png" alt="Commerce Guys">
          </a>
        </li>
        <li class="logo">
          <a target="_blank" href="http://www.whitehouse.gov">
            <img class="img-responsive" src="/images/homepage/code/white-house.png" alt="The White House">
          </a>
        </li>
        <li class="logo">
          <a target="_blank" href="https://www.acquia.com/solutions/digital-experience-management/community">
            <img class="img-responsive" src="/images/homepage/code/acquia.png" alt="acquia">
          </a>
        </li>
        <li class="logo">
          <a target="_blank" href="https://www.grammypro.com/">
            <img class="img-responsive" src="/images/homepage/code/grammy.png" alt="The Grammy Awards">
          </a>
        </li>
      </ul>
    </div>
</div>
