<div id="work">
  <h2 class="title">You may have seen our work before</h2>
  <div class="row">
    <!--Our work Desktop-->
    <div class="col-xs-12 hidden-xs">
      <ul class="clients">
        <li class="logo">
          <a target="_blank" href="http://openscholar.harvard.edu">
            <img src="/images/homepage/code/harvard.png" class="img-responsive" alt="OpenScholar">
            <div class="popup-block">
              <a target="_blank" href="http://openscholar.harvard.edu">OpenScholar </a>
              , an Open Source web publishing solutions powering thousand of academic websites.
            </div>
          </a>
        </li>
        <li class="logo">
          <a target="_blank" href="https://docs.acquia.com/commons">
            <img src="/images/homepage/code/acquia.png" class="img-responsive main-block" alt="acquia">
            <div class="popup-block">
              Acquia worked with Gizra to develop
              <a target="_blank" href="https://docs.acquia.com/commons">Drupal Commons </a>
              , a social-focused Drupal distribution.
            </div>
          </a>
        </li>
        <li class="logo">
          <a target="_blank" href="https://commerceguys.com/product/commerce-kickstart">
            <img src="/images/homepage/code/commerce-guys.png" class="img-responsive" alt="Commerce Guys">
            <div class="popup-block">
              Collaborated with Gizra to build
              <a target="_blank" href="https://commerceguys.com/product/commerce-kickstart">Commerce Kickstart </a>
              , an eCommerce focused Drupal Distribution.
            </div>
          </a>
        </li>
        <li class="logo">
          <a target="_blank" href="http://capacity4dev.ec.europa.eu">
            <img src="/images/homepage/code/ec.png" class="img-responsive" alt="European Commission">
            <div class="popup-block">
              Collaborated on
              <a target="_blank" href="http://capacity4dev.ec.europa.eu">Capacity4Dev </a>
              and Projects4Dev websites that manages international development projects.
            </div>
          </a>
        </li>
        <li class="logo">
          <a target="_blank" href="https://www.grammypro.com/">
            <img src="/images/homepage/code/grammy.png" class="img-responsive" alt="The Grammy Awards">
            <div class="popup-block">
              <a target="_blank" href="https://www.grammypro.com/">GrammyPro.com </a>
              Powered by the high profile Gizra-developed Drupal modules Organic Groups and Message Stack.
            </div>
          </a>
        </li>
        <li class="logo">
          <img src="/images/homepage/code/wix.png" class="img-responsive" alt="WiX">
          <div class="popup-block ">
            Wix hired Gizra to build feed features for its platform, powering over 70 million websites.
          </div>
        </li>
        <li class="logo">
          <a target="_blank" href="http://www.whitehouse.gov">
            <img src="/images/homepage/code/white-house.png" class="img-responsive" alt="The White House">
            <div class="popup-block">
              <a target="_blank" href="http://www.whitehouse.gov">WhiteHouse.gov </a>
              Powered by the high profile Gizra-developed Drupal modules Organic Groups and Message Stack.
            </div>
          </a>
        </li>
      </ul>
    </div>
    <!--Our work Mobile-->
    <div class="col-xs-12 visible-xs">
      <ul class="clients">
        <li class="logo">
          <a target="_blank" href="http://openscholar.harvard.edu">
            <img src="/images/homepage/code/harvard.png" alt="OpenScholar">
          </a>
        </li>
        <li class="logo">
          <a target="_blank" href="http://capacity4dev.ec.europa.eu">
            <img src="/images/homepage/code/ec.png" alt="European Commission">
          </a>
        </li>
        <li class="logo">
          <a target="_blank" href="http://www.wix.com">
            <img src="/images/homepage/code/wix.png" alt="WiX">
          </a>
        </li>
        <li class="logo">
          <a target="_blank" href="https://commerceguys.com/product/commerce-kickstart">
            <img src="/images/homepage/code/commerce-guys.png" alt="Commerce Guys">
          </a>
        </li>
        <li class="logo">
          <a target="_blank" href="http://www.whitehouse.gov">
            <img src="/images/homepage/code/white-house.png" alt="The White House">
          </a>
        </li>
        <li class="logo">
          <a target="_blank" href="https://www.acquia.com/solutions/digital-experience-management/community">
            <img src="/images/homepage/code/acquia.png" alt="acquia">
          </a>
        </li>
        <li class="logo">
          <a target="_blank" href="https://www.grammypro.com/">
            <img src="/images/homepage/code/grammy.png" alt="The Grammy Awards">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
