<div id="work">
  <h2 class="title">You may have seen our work before</h2>
    <!--Our work Desktop-->
    <div class="hidden-xs">
      <ul class="clients">
        <li class="logo">
          <a target="_blank" href="http://openscholar.harvard.edu">
            <img src="/images/homepage/code/harvard.png" class="img-responsive" alt="OpenScholar">
            <div class="popup-block">
              <p>
                <span>OpenScholar</span>,
                a publishing solution powering thousands of academic websites.
              </p>
            </div>
          </a>
        </li>
        <li class="logo">
          <a target="_blank" href="https://docs.acquia.com/commons">
            <img src="/images/homepage/code/acquia.png" class="img-responsive main-block" alt="acquia">
            <div class="popup-block">
              <p>
                Worked together to develop <span>Drupal Commons</span>,
                a social-focused Drupal distribution.
              </p>
            </div>
          </a>
        </li>
        <li class="logo">
          <a target="_blank" href="https://commerceguys.com/product/commerce-kickstart">
            <img src="/images/homepage/code/commerce-guys.png" class="img-responsive" alt="Commerce Guys">
            <div class="popup-block">
              <p>
                Collaborated to build
                <span>Commerce Kickstart</span>,
                an eCommerce Drupal Distribution.
              </p>
            </div>
          </a>
        </li>
        <li class="logo">
          <a target="_blank" href="http://capacity4dev.ec.europa.eu">
            <img src="/images/homepage/code/ec.png" class="img-responsive" alt="European Commission">
            <div class="popup-block">
              <p>
                Built
                <span>Capacity4Dev</span>
                and Projects4Dev, which manage international development projects.
              </p>
            </div>
          </a>
      </li>
        <li class="logo">
          <a target="_blank" href="https://www.grammypro.com/">
            <img src="/images/homepage/code/grammy.png" class="img-responsive" alt="The Grammy Awards">
            <div class="popup-block">
              <p>
                <span>GrammyPro.com</span>
                is powered by the Gizra-developed Organic Groups and Message Stack modules.
              </p>
            </div>
          </a>
        </li>
        <li class="logo">
          <img src="/images/homepage/code/wix.png" class="img-responsive" alt="WiX">
          <div class="popup-block ">
            <p>
              <span>Wix hired Gizra</span>
              to build feed features for its platform, powering over 70 million websites.
            </p>
          </div>
        </li>
        <li class="logo">
          <a target="_blank" href="http://www.whitehouse.gov">
            <img src="/images/homepage/code/white-house.png" class="img-responsive" alt="The White House">
            <div class="popup-block">
              <p>
                <span>WhiteHouse.gov</span> is
                powered by the Gizra-developed Organic Groups and Message Stack modules.
              </p>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <!--Our work Mobile-->
    <div class=" visible-xs">
      <ul class="clients">
        <li class="logo">
          <a target="_blank" href="http://openscholar.harvard.edu">
            <img src="/images/homepage/code/harvard.png" alt="OpenScholar" class="img-responsive">
          </a>
        </li>
        <li class="logo">
          <a target="_blank" href="http://capacity4dev.ec.europa.eu">
            <img class="img-responsive" src="/images/homepage/code/ec.png" alt="European Commission">
          </a>
        </li>
        <li class="logo">
          <a target="_blank" href="http://www.wix.com">
            <img class="img-responsive" src="/images/homepage/code/wix.png" alt="WiX">
          </a>
        </li>
        <li class="logo">
          <a target="_blank" href="https://commerceguys.com/product/commerce-kickstart">
            <img class="img-responsive" src="/images/homepage/code/commerce-guys.png" alt="Commerce Guys">
          </a>
        </li>
        <li class="logo">
          <a target="_blank" href="http://www.whitehouse.gov">
            <img class="img-responsive" src="/images/homepage/code/white-house.png" alt="The White House">
          </a>
        </li>
        <li class="logo">
          <a target="_blank" href="https://www.acquia.com/solutions/digital-experience-management/community">
            <img class="img-responsive" src="/images/homepage/code/acquia.png" alt="acquia">
          </a>
        </li>
        <li class="logo">
          <a target="_blank" href="https://www.grammypro.com/">
            <img class="img-responsive" src="/images/homepage/code/grammy.png" alt="The Grammy Awards">
          </a>
        </li>
      </ul>
    </div>
</div>
