{% unless page.exclude_footer %}
  <div id="contact">
    <footer id="footer">
      <div class="footer-wrapper">
        <div class="background">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <h2 class="title">Talk to us</h2>
                <div class="clearfix">
                  <address>
                    <div class="strong">Israel Headquarters</div>
                    <span>5 Brenner Street, Tel Aviv</span>
                      <a class="telephone" href="tel:+97233731222">+972-3-3731222</a>
                    <a class="email" href="mailto:info@gizra.com">info@gizra.com</a>
                  </address>
                  <address class="separator">
                    <div class="strong">United States Office</div>
                    <span>157 Columbus Avenue, 4th Floor, New York, NY 10023</span>
                    <a class="telephone" href="tel:+13476864508">347-686-4508</a>
                    <a class="email" href="mailto:usoffice@gizra.com">usoffice@gizra.com</a>
                  </address>
                  <div class="separator social-links">
                    <span class="link github">
                      <a href="https://github.com/Gizra" target="_blank"><i class="fa fa-github-square"></i></a>
                    </span>
                    <span class="link twitter">
                      <a href="https://twitter.com/gizra_drupal" target="_blank"><i class="fa fa-twitter-square"></i></a>
                    </span>
                    <span class="link linkedin">
                      <a href="https://www.linkedin.com/company/gizra-ltd" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                    </span>
                    <span class="link facebook">
                      <a href="https://www.facebook.com/gizraltd/timeline" target="_blank"><i class="fa fa-facebook-square"></i></a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
{% endunless %}
