{% if page.homepage == nil %}
  {% assign about_path = "/#about" %}
{% else %}
  {% assign about_path = "#about" %}
{% endif %}

<header id="header-global">
  <div class="header-container">
    <div class="gizra-logo"><a href="/">gizra</a></div>

    <nav id="nav" role="navigation" class="menu">
      <div class="menu__item"><a href="{{ about_path }}" class="smooth-scroll-to">About</a></div>
      <div class="menu__item"><a href="/services">Work</a></div>
      <div class="menu__item"><a href="/team">Team</a></div>
      <div class="menu__item"><a href="/blog">Blog</a></div>
      <div class="menu__item"><a href="/contact">Contact</a></div>
    </nav>
  </div>
</header>