<section id="projects-page">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h2 class="title">Projects</h2>
        
        <div class="intro-text">
          <p>Some text about the diversity of Gizra projects.</p>
        </div>


        <div id="carousel-projects" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-projects" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-projects" data-slide-to="1"></li>
            <li data-target="#carousel-projects" data-slide-to="2"></li>
            <li data-target="#carousel-projects" data-slide-to="3"></li>
            <li data-target="#carousel-projects" data-slide-to="4"></li>
            <li data-target="#carousel-projects" data-slide-to="5"></li>
          </ol>
        
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <div class="row">
              <div class="col-sm-6">
                <img src="/assets/images/services/macbook.png" alt="..." class="img-responsive">
              </div>
              <div class="col-sm-6">
                <div class="carousel-caption text-small">
                  <h4>OpSys</h4>
                  <p>The European Commission selected Gizra to create a project management tool 
                    to manage billions of Euros invested in developing world projects. Gizra helps 
                    define the tool and is responsible for design, implementation, and deployment. 
                    The challenge was to provide a simple and clean interface to vast amounts of data 
                    in a large multilingual organization.</p>

                  <p>Our success led to the complementary Capacity4Dev project, where Gizra is in 
                    charge of the UX, consulting, and development of its new version.</p>
                </div>
              </div>
              </div>
            </div>
            <div class="item">
              <div class="row">
              <div class="col-sm-6">
                <img src="/assets/images/services/macbook.png" alt="..." class="img-responsive">
              </div>
              <div class="col-sm-6">
                <div class="carousel-caption text-small">
                  <h4>Casa del Lector Exhibit</h4>
                  <p>The National Library of Israel commissioned Gizra to create a virtual exhibition for 
                    Madrid’s Casa del Lector museum. Visitors were given tablets to navigate the exhibition 
                    content via an interactive map-like interface, providing access to video, audio, and 
                    text-based media. The visitor could tap a node and instantaneously highlight its connections 
                    within the network of content. A second tap took the user to the node content which 
                    contained various options to interact with material. This sleek design and innovative 
                    approach was a refreshing alternative to usual museum tours.</p>
                </div>
              </div>
              </div>
            </div>
            <div class="item">
              <div class="row">
              <div class="col-sm-6">
                <img src="/assets/images/services/macbook.png" alt="..." class="img-responsive">
              </div>
              <div class="col-sm-6">
                <div class="carousel-caption text-small">
                  <h4>The iCenter</h4>
                  <p>The iCenter sought out Gizra for their third project together based on the successes 
                    and learnings from the workflow on previous projects.</p>

                  <p>When the iCenter looked to redesign their website, they had an aggressive timetable in
                     order to launch before their biennial  international conference. By applying The Gizra 
                     Way with clear and constant communication through online task tracking and regular 
                     face-to-face (video conferenced) scrum meetings, the project was completed within the 
                     time frame and the anticipated budget, without the need to divert precious human resources 
                     away from other important projects.</p>
                    </p>
                </div>
              </div>
              </div>
            </div>
            <div class="item">
              <div class="row">
              <div class="col-sm-6">
                <img src="/assets/images/services/macbook.png" alt="..." class="img-responsive">
              </div>
              <div class="col-sm-6">
                <div class="carousel-caption text-small">
                  <h4>The Hebrew University of Jerusalem</h4>
                  <p>Gizra developed and implemented the new responsive design for The Hebrew University of 
                    Jerusalem Admissions Department. Faced with the need to convey its well-established brand, 
                    and speak to a multitude of potential applicants, the University sought Gizra for a solution. 
                    Together, we transformed the existing traditional site into a user-friendly, but content-rich, 
                    fully-accessible interface, geared to the demanding needs of its user community.
                  </p>
                </div>
              </div>
              </div>
            </div>
            <div class="item">
              <div class="row">
              <div class="col-sm-6">
                <img src="/assets/images/services/macbook.png" alt="..." class="img-responsive">
              </div>
              <div class="col-sm-6">
                <div class="carousel-caption text-small">
                  <h4>Kedem Auction House</h4>
                  <p>Gizra presents a new approach in live online auction trade - exposing and positioning 
                    traditional Judaica objects and manuscripts, in this case, in an online platform especially 
                    developed to simplify the procedure of public auctions. Bidding is made easy and accessible 
                    at any time online, simplifying the process for both the seller and purchaser, thereby 
                    increasing the number of transactions.
                  </p>
                </div>
              </div>
              </div>
            </div>
            <div class="item">
              <div class="row">
              <div class="col-sm-6">
                <img src="/assets/images/services/macbook.png" alt="..." class="img-responsive">
              </div>
              <div class="col-sm-6">
                <div class="carousel-caption text-small">
                   <h4>Harvard OpenScholar</h4>
                 <p>OpenScholar is a full-featured solution for university systems, powering thousands of Harvard 
                   University websites, as well as sites at Princeton, University of California, Berkeley, The 
                   Hebrew University of Jerusalem, and others.</p>

                   <p>OpenScholar’s strength is in its ability to allow departments, faculty, students, and 
                     projects to spin up websites with the click of a button, and with enforceable standards, 
                     look and feel, and sensible defaults for their use case.</p>
                </div>
              </div>
              </div>
            </div>
          </div>
        
          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-projects" role="button" data-slide="prev">
            <i class="fa fa-chevron-left icon-prev" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-projects" role="button" data-slide="next">
            <i class="fa fa-chevron-right icon-next" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="projects-label">
          <a href="/projects">
            <span class="label label-default">See more projects.</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
