<div class="row">
  {% for members_list in site.authors %}
    {% for member_info in members_list %}
      {% assign member = member_info[1] %}
      {% if member.is_member %}
      <div class="col-xs-6 col-sm-3 member-box">
        <i class="fa fa-info-circle icon-info touch-element-block"></i>
        <img class="img-responsive" src="/images/team/members/{{ member.image }}" alt="{{ member.name }}">
        <div class="popup-block">
          <div class="background"></div>
          <div class="info">
            <div class="name">{{ member.name }}</div>
            <div class="title">{{ member.title }}</div>
            <ul>
              <!-- E-mail -->
              <li>
                <a href="mailto:{{ member.email }}">
                  <img src="/images/team/at.png">
                </a>
              </li>
              <!-- Github -->
              <li class="hidden-xs">
                <a target="_blank" href="https://github.com/{{ member.github }}">
                  <img src="/images/team/github.png">
                </a>
              </li>
              <!-- Twitter -->
              {% if member.twitter %}
                <li class="hidden-xs">
                  <a target="_blank" href="https://twitter.com/{{ member.twitter }}"><img src="/images/team/twitter.png"></a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  {% endfor %}
  <!--Placeholder cat to fill the row -->
  <div class="col-xs-6 col-sm-3 member-box">
    <img class="img-responsive" src="/images/team/members/placeholder-cat.jpg" alt="the cat">
  </div>
  <!--Placeholder dog to fill the row -->
  <div class="col-xs-6 col-sm-3 member-box hidden-xs">
    <img class="img-responsive" src="/images/team/members/placeholder-dog.jpg" alt="the dog">
  </div>
  <div class="col-xs-6 col-sm-3 member-box hidden-xs">
    <img class="img-responsive" src="/images/team/members/placeholder-cat.jpg" alt="the cat">
  </div>
</div>



