<section id="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        {% include clients.html %}
        <!-- Testimonials -->
        <div id="carousel-testimonials" class="carousel slide hidden-xs" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-testimonials" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-testimonials" data-slide-to="1"></li>
            <li data-target="#carousel-testimonials" data-slide-to="2"></li>
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <div>
                <img src="/images/homepage/testimonials/harvard-logo.png" alt="OpenScholar">
                <p class="blockquote">
                  We had them work with complex requirements and Gizra has always delivered high-quality
                  solutions focusing not just on the output but also on future maintainability and best practices.
                </p>
                <p class="name">Richard Brandon</p>
                <p class="title">Sr Software Engineer</p>
                <p class="client">Harvard University</p>
              </div>
            </div>
            <div class="item">
              <div>
                <img src="/images/homepage/testimonials/acquia-black.png" alt="Acquia">
                <p class="blockquote">
                  I consistently recommend Gizra as a top choice for anyone looking for complex Drupal development work done right.
                </p>
                <p class="name">Ezra Gildesgame</p>
                <p class="title">Product Manager</p>
                <p class="client">Acquia</p>
              </div>
            </div>
            <div class="item">
              <div>
                <img src="/images/homepage/testimonials/national-library.png" alt="The National Library of Israel">
                <p class="blockquote">
                  Gizra translated our wishes to technical specifications and to a working product and did
                  so in a timely manner and within budget... and captured the
                  needs arising from the different partners.
                </p>
                <p class="name">Ido Ivri</p>
                <p class="title">Head of Business Development and Innovation</p>
                <p class="client">The National Library of Israel</p>
              </div>
            </div>
          </div>
        </div>
        <div class="page-scroll hidden-xs">
          <div class="scroll-wrapper">
            <a href="#about" class="smooth-scroll-to">
              <span class="sr-only">About us</span>
              <i class="fa fa-chevron-circle-down" aria-hidden="true"></i> 
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
