#about {
  position: relative;
  overflow: hidden;
  margin: 90px 0;

  .container {
    @extend .container-divider;
  }

  .text-wrapper {

    .title {
      margin-bottom: 14px;
      color: $gizra-black;
      font-size: 1.5em;
      font-weight: bolder;
      line-height: 1.4em;
    }

    p {
      margin-bottom: 12px;
      font-size: 1.17em;
      line-height: 1.65em;
    }

    h3 {
      margin-top: 35px;
      font-weight: 500;
      font-size: 1.25em;
    }

    h4 {
      margin-top: 20px;
      font-size: 1.17em;
    }
  }
}


// Mobile Media query.
@include mobile {

  #about {
    padding: 20px 0;
  }
}
