#about {
  position: relative;
  overflow: hidden;
  margin: 65px 0;

  .container {
    @extend .container-divider;
  }

  .text-wrapper {

    p {
      @extend .p-styling;
      margin-bottom: 12px;
    }

    h3 {
      @extend .h3-styling;
      margin-top: 35px;
    }

    h4 {
      @extend .h4-styling;
      margin-top: 20px;
    }
  }
}

// Mobile Media query.
@include mobile {

  #about {
    margin-top: 35px;
    margin-bottom: 10px;
    padding: 20px 0;

    .container {
      padding-bottom: 50px;
    }
  }
}
