.blog {
  margin-bottom: 20px;

  .post-teaser {
    @extend .soft-box;
    box-shadow: none;
    position: relative;
    margin-bottom: 28px;
    padding-top: $spacing;
    padding-bottom: 7px;
    border-radius: 6px;

    > * {
      margin-right: $spacing;
      margin-left: $spacing;
    }
  }

  .author-details {
    position: relative;

    .name, .date {
      margin-bottom: 0.2em;
      font-family: 'Hind', sans-serif;
      font-size: 18px;

      a {
        color: $gizra-orange;
        text-decoration: none;
      }

      i {
        margin-right: 5px;
        font-size: 0.9em;
      }
    }

    .avatar {
      @extend .soft-box;
      padding: 4px;
      width: 60px;
      position: absolute;
      z-index: 4;
      top: -46px;
      right: 12px;
      background: white;
    }
  }

  .article {
    .main-image {
      position: relative;
      display: block;
      border: 1px solid #C5C5C5;
      margin-bottom: 12px;
      overflow: hidden;
      background: black;

      img {
        @include transition(all 0.5s ease-in-out);
        position: relative;
        width: 100%;

        &:hover {
          @include transform(scale(1.15));
          opacity: 0.5;
        }
      }
    }

    .title {
      font-family: "Raleway", sans-serif;
      margin-top: 0;
      margin-bottom: .2em;
      text-transform: none;
      line-height: 1.2em;
      font-size: 21px;
      font-weight: 600;
      color: $gizra-blue;
    }
  }

  .blog-more {
    text-align: center;
    margin-bottom: 45px;

    a {
      @extend .soft-box;
      color: $gizra-blue;
      font-weight: 400;
      text-decoration: none;
      padding: $spacing;
      display: inline-block;
    }
  }
}

// Desktop Media query.
@include desktop {

  .blog {
    //.posts >*:nth-of-type(3n+1) {
    //  clear: both;
    //}

    .article .main-image {
      height: 275px;
    }
  }
}

// Mobile Media query.
@include mobile {

  .blog {
    margin-top: 10px;
    margin-bottom: 20px;

    .article .title {
      margin-bottom: 0;
    }
  }
}

// Specific media query.
@media (min-width: 550px) and (max-width: $screen-sm) {
  .blog .post-teaser {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }
}

// Specific media query.
@media (max-width: 450px) {
  .blog .author-details .avatar {
    width: 50px;
    top: -48px;
  }
}
