.blog {
  margin-top: 27px;
  margin-bottom: 85px;

  .post-teaser {
    @extend .soft-box;
    position: relative;
    margin-bottom: 65px;
    padding: $spacing 0;
    border-radius: 6px;

    > * {
      margin-right: $spacing;
      margin-left: $spacing;
    }
  }

  .author-details {

    .name {
      margin-top: 24px;
      margin-bottom: 0;
      color: $gizra-black;
      font-family: 'Raleway', sans-serif;
      font-size: 1em;
      font-weight: bolder;
      letter-spacing: 0.03em;
    }

    .date {
      margin-top: 8px;
      font-size: 1.1em;

      i {
        margin-right: 5px;
        font-size: 0.9em;
      }
    }

    img {
      @extend .soft-box;
      float: left;
      margin-right: 15px;
      padding: 8px;
      width: 100px;
    }
  }

  .article {
    .text {
      @extend .gray-box;
      margin: 14px $negative-spacing $spacing $negative-spacing;
      padding: $spacing;
      font-size: 1.17em;
      line-height: 1.5em;
    }

    .title {
      @extend .h1-styling;
    }
  }

  .read-more-wrapper {
    margin: $spacing 0 0;
    padding: $spacing $spacing 0;
    border-top: 1px solid $softer-border;
    padding-top: $spacing;
  }

  .read-more a {
    @extend .soft-box;
    position: relative;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    color: $gizra-orange;
    background: white;
    border-radius: 4px;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      right: 21px;
      bottom: 0;
      width: 1px;
      background: #E3E3E3;
      height: 100%;
    }

    i {
      margin-left: 12px;
      vertical-align: middle;
    }
  }
}

// Desktop Media query.
@include desktop {
  .blog .read-more-wrapper {
    position: absolute;
    bottom: -16px;
    right: $spacing;
    margin: 0;
    padding: 0;
  }
}

// Mobile Media query.
@include mobile {

  .blog {
    margin-top: 10px;
    margin-bottom: 20px;

    .read-more-wrapper {
      margin: $spacing 0 0;
      padding: $spacing $spacing 0;
      border-top: 1px solid $softer-border;
      padding-top: $spacing;
    }

    .read-more {
      text-align: right;
    }
  }
}
