body {
  @include touch;
  color: $gizra-body;
  font-family: 'Hind', sans-serif;
  font-size: 21px;
  line-height: 1.618em;
  font-weight: 100;
}


/**
*  Typography
*/

.thumbnail {
  margin: 1em auto;
  padding: 0;
  display: inline-block;
  text-align: center;
  border: 0;
  width: 100%;

  .img-wrapper {
    padding: 5px;
    border: 1px solid #DEDEDE;
    border-radius: 4px 4px 0 0;

    img {
      max-width: 100%;
    }
  }

  .caption {
    color: #5D5D5D;
    padding: 5px;
    border: 1px solid #DEDEDE;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    font-size: 16px;
    font-weight: 500;
  }
}

#disqus_thread {
  margin-bottom: 165px;
}


// Desktop Media query.
@include desktop {

  // Default.
  .container {
    min-width: 1200px;
  }

  header,
  header .container,
  #page-404 .container,
  #header-blog .container,
  #header-post .container,
  #header-team .container,
  #team-page .container,
  #header-service .container,
  #service-page .container,
  #services-page .container,
  #about,
  #footer {
    min-width: 1200px;
    
  }

  .narrow {
    padding: 0 80px;
  }
}

#header-global {
  background: url('/images/header/global-background.jpg') no-repeat center top;
  background-size: cover;
  text-align: left;

  .gizra-logo {
    margin-bottom: 30px;
  }
}


/**
*  List Boxes
*/

.list-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  .list-box {
    padding: 0 30px;
    flex: 1 0 325px;

    .list-box__item__heading {
      font-weight: bold;
      color: $gizra-orange;
      margin-bottom: 0.4em;
      padding-bottom: 0.2em;
      @extend .divider-bottom;
    }
  }
  
  .list-box:hover {
    background-color: #f5f5f5;
  }
}


/**
*  Page Titles
*/

.page-title {
  @include title;
}


/**
*  Fit Page
*/

#fit-page {
  padding: 40px 0;
}
