body {
  @include touch;
  color: $gizra-body;
  font-family: 'Hind', sans-serif;
  font-size: 16px;
  line-height: 1.2em;
  font-weight: 100;
  letter-spacing: 0.010em;
}

.thumbnail {
  @include box-shadow(0 5px 5px 0 rgba(0, 0, 0, 0.082));
  margin: 30px auto;
  padding: 0;
  display: inline-block;
  text-align: center;
  border: 0;
  width: 100%;

  .img-wrapper {
    padding: 5px;
    border: 1px solid #DEDEDE;
    border-radius: 4px 4px 0 0;

    img {
      max-width: 100%;
    }
  }

  .caption {
    color: #5D5D5D;
    padding: 5px;
    border: 1px solid #DEDEDE;
    border-top: 0;
    border-radius: 0 0 4px 4px;
  }
}

#disqus_thread {
  margin-bottom: 165px;
}

.demo-block a {
  margin-top: 20px;
  display: inline-block;
  padding: 10px;
  border-radius: 4px;
  color: #ffffff;
  background: $gizra-blue;
}

// Desktop Media query.
@include desktop {

  // Default.
  .container {
    min-width: 1200px;
  }

  header,
  header .container,
  #page-404 .container,
  #header-blog .container,
  #header-post .container,
  #header-team .container,
  #team-page .container,
  #header-service .container,
  #service-page .container,
  #services-page .container,
  #about,
  #footer {
    min-width: 1200px;
  }

  .narrow {
    padding: 0 80px;
  }
}

#header-global {
  background: url('/images/services/background.jpg') no-repeat center top;
  background-size: cover;
  text-align: left;

  .gizra-logo {
    margin-bottom: 30px;
  }
}
