body {
  @include touch;
  color: $gizra-body;
  font-family: 'Hind', sans-serif;
  font-size: 21px;
  line-height: 1.618em;
  font-weight: 100;
}


/**
*  Typography
*/



.thumbnail {
  margin: 1em auto;
  padding: 0;
  display: inline-block;
  text-align: center;
  border: 0;
  width: 100%;

  .img-wrapper {
    padding: 5px;
    border: 1px solid #DEDEDE;
    border-radius: 4px 4px 0 0;

    img {
      max-width: 100%;
    }
  }

  .caption {
    color: #5D5D5D;
    padding: 5px;
    border: 1px solid #DEDEDE;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    font-size: 16px;
    font-weight: 500;
  }
}

#disqus_thread {
  margin-bottom: 165px;
}


// Desktop Media query.
@include desktop {

#header-global {
  background: url('/images/header/global-background.jpg') no-repeat center top;
  background-size: cover;
  text-align: left;

  .gizra-logo {
    margin-bottom: 30px;
  }
}
