header {
  min-height: 300px;

  .gizra-logo {
    position: relative;    
    padding-top: 50px;
    width: 50%;
    z-index: 10;
    margin-left: 15px;

    @include desktop {
      float: left;
    }

    a {
      font-family: Abril Fatface;
      text-decoration: none;
      color: $gizra-orange;

      @include mobile {
        font-size: calc(50px + 5vw);
      }

      @include desktop {
        font-size: 105px;
      }
    }
  }

  .menu {
    min-height: 0;
    border-radius: 0;
    background: transparent;
    border: 0;
    padding-top: 40px;
    display: flex;
    flex-flow: row wrap;
    margin: 0 15px;
        
    .menu__item {
      flex: 1 1 auto;
      margin-right: 30px;

      a {
        font-size: 0.857em;
        color: white;
        padding-top: 0;
        padding-left: 0;
        text-transform: uppercase;
        text-decoration: none;

        &:hover,
        &.active {
          color: $gizra-orange;
        }
      }
    }
  }
}
