@import 'testimonials';

#homepage {
  .header-homepage {
    background: #292929;
    background: url('/images/header/background.png') no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    text-align: left;
    padding-bottom: 40px;

    #slogan {
      margin-top: 70px;
      position: relative;
      overflow: hidden;
      color: white;
      border-radius: 8px;
      
      h2 {
        margin: 0 0 .5em;
        font-weight: bold;
        font-size: 37.5px;
        line-height: 1.2em;
      }

      .sub-slogan {
        margin: 1em 0 0;        
        p {
          font-family: "Raleway", sans-serif;
          font-size: 27px;
          line-height: 1.2em;
          margin: 0 0 .5em;
        }
      }

      .about-us-story {
        font-family: "Raleway", sans-serif;
        margin-top: 2.5em;
        font-size: 18px;
        font-weight: 500;

        a {
          color: white;
          text-decoration: underline;
        }
      }

      h3 {
        display: inline-block;
        text-transform: uppercase;
        font-size: 22px;
        margin: -4px 0 0 420px;
      }
    }
    
    .page-scroll {
      margin-top: 40px;
      width: 100%;

      .scroll-wrapper {
        display: block;
        text-align: center;

        a {
          color: white;
          font-size: 2em;
          text-decoration: none;
          opacity: 0.5;
        }
      }
    }
  }

  .main-title {
    @include title;
    color: $gizra-orange;
    margin-top: 0;
    margin-bottom: 5px;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .blog {
    h2.title {
      font-family: "Raleway", sans-serif;
      font-size: 47.123px;
      @extend .divider-bottom;
      margin-bottom: 30px;
      padding-bottom: 20px;
      font-weight: bold;
      
      a {
        color: $gizra-blue;      
      }
    }
  }
}

// Desktop Media query.
@include desktop {
  
  .header-homepage, #gizra-way, #about, #testimonials, #from-our-blog {
    height: 100vh;
    max-height: 1000px;
    min-height: 600px;
  }
  
  #homepage .header-homepage #slogan {
    margin-left: 15px;
  }
}

// Mobile Media query.
@include mobile {

  #homepage {

    #about #main-wrapper {
      border: 1px solid $softer-border;
      padding: 20px;
      border-radius: 5px;
    }

    .blog .main-title {
      margin-bottom: 15px;
      text-align: center;
    }
  }
}
