@import 'testimonials';

#homepage {
  .header-homepage {
    background: #292929;
    background: url('/images/header/background.png') no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    text-align: left;
    padding-bottom: 40px;

    #slogan {
      margin-top: 70px;
      position: relative;
      overflow: hidden;
      color: white;
      
      h2 {
        margin: 0;
        color: white;
        font-family: "Hind", sans-serif;
        font-weight: bold;
        font-size: 37.5px;
      }

      #sub-slogan {
        margin: 1em 0 0;

        p {
          font-family: "Raleway", sans-serif;
          font-size: 27px;
          line-height: 1.2em;
        }
      }

      #about-us-story {
        font-family: "Raleway", sans-serif;
        margin-top: 1.5em;
        font-weight: 500;

        a {
          color: white;
          text-decoration: underline;
        }
      }

      .page-scroll {
        margin-top: 30px;
        width: 100%;
    
        .scroll-wrapper {
          display: block;
          text-align: center;
    
          a {
            color: white;
            font-size: 1.618em;
            text-decoration: none;
            opacity: 0.5;
          }
        }
      }         
    }
  }

  #from-our-blog {

    h2.title {
      @include title;
      font-size: 47.123px;      

      a {
        color: $gizra-blue;      
      }
    }
  }
}

// Desktop Media query.
@include desktop {
  
  .header-homepage, #gizra-way, #about, #testimonials, #from-our-blog {
    height: 100vh;
    max-height: 1000px;
    min-height: 650px;
  }

  #homepage .header-homepage #slogan {
    margin-left: 15px;
  }
}
