@import 'testimonials';

#homepage {
  .header-homepage {
    background: #292929;
    background: url('/images/header/background.png') no-repeat left top;
    background-size: cover;
    width: 100%;
    text-align: left;
    min-height: 100vh;

    #slogan {
      position: relative;
      overflow: hidden;
      color: white;
      padding-bottom: 20px;

      h2 {
        margin: 70px 0 10px;
        font-weight: bold;
        font-size: 2.618em;
        line-height: 1.2em;
        //letter-spacing: 0.025em;
        //text-transform: uppercase;
      }

      .sub-slogan {
        margin: 20px 0 0;        
        p {
          font-size: 1.618em;
          line-height: 1.2em;
          //letter-spacing: 0.013em;
        }
      }

      .about-us-story {
        margin-top: 30px;
        font-size: 1.618em;

        a {
          color: white;
          text-decoration: underline;
        }
      }

      h3 {
        display: inline-block;
        text-transform: uppercase;
        font-size: 22px;
        margin: -4px 0 0 420px;
      }
    }
    
    .page-scroll {
      margin-top: 30px;

      a {
        color: white;
        font-size: 1.618em;
        text-decoration: none;
        opacity: 0.5;
        
        i {
          margin-left: 40%;
        }
      }
    }
  }

  .main-title {
    @include title;
    color: $gizra-orange;
    margin-top: 0;
    margin-bottom: 5px;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .blog {
    margin-top: 15px;

    .main-title {
      margin-bottom: 15px;
    }
  }
}

// Desktop Media query.
@include desktop {

  #homepage .header-homepage #slogan {
    margin-left: 15px;
    max-width: 50%
  }
}

// Mobile Media query.
@include mobile {

  #homepage {

    #about #main-wrapper {
      border: 1px solid $softer-border;
      padding: 20px;
      border-radius: 5px;
    }

    .blog .main-title {
      margin-bottom: 15px;
      text-align: center;
    }
  }
}
