/* Containers */

.header-container {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;  
}

.page-container {
  
  @include desktop {
    max-width: 1020px;
  }
  
  @include laptop {
    max-width: 950px;
  }
  
  @include tablet {
    max-width: 750px;
  }

  @include phone {
    padding-right: 15px;
    padding-left: 15px;
  }
    
  margin-right: auto;
  margin-left: auto;  
}

/* Flexbox rows and columns */

.flex-row {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.flex-row.reverse {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}

.flex-col.reverse {
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-direction: column-reverse;
}

/* Page elements */
.two-col-layout {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  @include phone {flex-direction: column;}
}

.page-title {
  flex: 1 0;
  margin: 0 15px;  
}

.sidebar {
  flex: 1 0 200px;
  margin: 0 15px;
  min-width: 200px;
  @include tablet-and-above { max-width: 200px; } 
}

.post-content {
  flex: 1 0;
  margin: 0 15px;
}

.pager {
  justify-content: space-between;
  flex-wrap: nowrap;
}

.pager__previous {
  padding-right: 15px;
  flex: 1 0 50%;
}

.pager__next {
  padding-left: 15px;
  text-align: right;
  flex: 1 0 50%;
}
