// Global colors.
$gizra-orange: #e27058;
$gizra-orange-dark: #bb5641;
$gizra-orange-light: #fba200;
$gizra-blue: #578E9B;
$gizra-blue-dark: #244b80;
$gizra-black: #515151;
$gizra-body: #717171;
$gizra-orange-hover: #E75E08;
$gizra-text: #5D5D5D;
$soft-white: rgba(255, 255, 255, 0.32);
$softer-white: rgba(255, 255, 255, 0.15);
$softer-border: rgba(227, 227, 227, 0.58);
$harder-border: #E3E3E3;
$blur: 4px;

// Global config.
$spacing: 10px;
$negative-spacing: -10px;

// Set Media Queries
@mixin phone {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) and (max-width: 991px) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: 992px) and (max-width: 1199px) { 
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1200px) { 
    @content;
  }
}

/* Legacy for tablet and larger */
@mixin tablet-and-above {
  @media (min-width: 768px) { 
    @content;
  }
}

@mixin pill($color) {
  color: $color;
  border: 1px solid $color;
  border-radius: 4px;
}

@mixin touch {
  .touch-element-block,
  .touch-element-inline-block,
  .touch-element-inline {
    display: none !important;
  }

  &.is-touch-device {

    .touch-element-block {
      display: block !important;
    }

    .touch-element-inline-block {
      display: inline-block !important;
    }

    .touch-element-inline {
      display: inline !important;
    }

    .touch-element-hidden {
      display: none !important;
    }
  }
}

//Typography
@mixin title {
  @extend .divider-bottom;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: $gizra-blue;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

h1, h2, h3, h4 {
  font-family: "Raleway", sans-serif;
}

h1, h2 {
  font-weight: bold;
}

h3, h4 {
  font-weight: 600;
}

h1, h2, h3 {
  color: $gizra-blue;

  a, a:hover {
    color: inherit;
    text-decoration: none;
  }
}

h1 {
  font-size: 2.244em;
  line-height: 1.1;

  a {
    font-weight: inherit;
    text-decoration: none;
  }
}

h2 {
  font-size: 1.618em;
  line-height: 1.2;
  font-weight: bold;

  a {
    font-weight: inherit;
    text-decoration: none;
  }
}

h3 {
  font-size: 1em;
  line-height: 1.2;
  
}

h4 {
  font-size: 1em;
  line-height: 1.2;
}

a, a:visited {
  text-decoration: underline;
  color: $gizra-blue;
}

a:hover, a:focus  {
  text-decoration: none;
  color: $gizra-blue-dark;
}

p {
  font-size: 1em;
  line-height: 1.618em;
  margin: 0 0 1em;
}

.text-small {
  font-size: 0.857em;
}

.text caption {
  font-size: 0.667em;  
}

.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.color-blue {
  color: $gizra-blue;
}

.color-orange {
  color: $gizra-orange;
}

.gray-box {
  border-top: 1px solid $softer-border;
  border-bottom: 1px solid $softer-border;
  background: #F1F1F1;
}

.divider-top {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.divider-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.side-shadow {
  @include box-shadow(0 0 70px -14px rgba(0, 0, 0, 0.4));
  padding-top: 30px;
  padding-bottom: 30px;
}

.bottom-shadow {
  @include box-shadow(0 20px 30px -14px rgba(0, 0, 0, 0.16));
  margin-bottom: 20px;
}

.soft-box {
  @include box-shadow(0 1px 2px 0 rgba(0, 0, 0, 0.22));
  border: 1px solid $softer-border;
}

.solid-box {
  border: 1px solid $softer-border;
}

.grayscale {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}
