// Global colors.
$gizra-orange: #e27058;
$gizra-orange-dark: #bb5641;
$gizra-orange-light: #fba200;
$gizra-blue: #578E9B;
$gizra-blue-dark: #244b80;
$gizra-black: #515151;
$gizra-body: #717171;
$gizra-orange-hover: #E75E08;
$gizra-text: #5D5D5D;
$soft-white: rgba(255, 255, 255, 0.32);
$softer-white: rgba(255, 255, 255, 0.15);
$softer-border: rgba(227, 227, 227, 0.58);
$harder-border: #E3E3E3;
$blur: 4px;

// Global config.
$spacing: 10px;
$negative-spacing: -10px;

// Desktop.
@mixin desktop {
  @media (min-width: $screen-sm) {
    @content;
  }
}

// Mobile.
@mixin mobile {
  @media (max-width: $screen-xs-max) {
    @content;
  }
}

@mixin pill($color) {
  color: $color;
  border: 1px solid $color;
  border-radius: 4px;
}

@mixin touch {
  .touch-element-block,
  .touch-element-inline-block,
  .touch-element-inline {
    display: none !important;
  }

  &.is-touch-device {

    .touch-element-block {
      display: block !important;
    }

    .touch-element-inline-block {
      display: inline-block !important;
    }

    .touch-element-inline {
      display: inline !important;
    }

    .touch-element-hidden {
      display: none !important;
    }
  }
}

.text-uppercase {
  text-transform: capitalize;
}

.gray-box {
  border-top: 1px solid $softer-border;
  border-bottom: 1px solid $softer-border;
  background: #F1F1F1;
}

.hp-title {
  color: $gizra-blue;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-size: 1.25em;
  letter-spacing: 0.035em;
}

.container-divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding-bottom: 80px;
}

.side-shadow {
  @include box-shadow(0 0 70px -14px rgba(0, 0, 0, 0.4));
  padding-top: 30px;
  padding-bottom: 30px;
}

.bottom-shadow {
  @include box-shadow(0 20px 30px -14px rgba(0, 0, 0, 0.16));
  margin-bottom: 20px;
}

.soft-box {
  @include box-shadow(0 1px 2px 0 rgba(0, 0, 0, 0.22));
  border: 1px solid $softer-border;
}

.headers-styling {
  margin-top: 25px;
  color: $gizra-blue;
  font-weight: bold;

  a {
    color: inherit;
  }
}

.h1-styling {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.55em;

  a {
    font-weight: inherit;
    text-decoration: none;
  }
}

.h3-styling {
  font-weight: 500;
  font-size: 1.25em;
}

.h4-styling {
  font-size: 1.17em;
}

.p-styling {
  font-size: 1.17em;
  line-height: 1.65em;
}

.grayscale {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}
