$gizra-orange: #e27058;
$gizra-orange-dark: #bb5641;
$gizra-orange-light: #fba200;
$gizra-blue: #2a5691;
$gizra-blue-dark: #244b80;
$gizra-black: #515151;
$gizra-orange-hover: #E75E08;
$gizra-text: #5D5D5D;


@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import "compass/css3/border-radius";
@import "compass/css3/transform";
@import "compass/css3/transition";

@import "code";
@import "mixins/post";
@import "pages/about";
@import "pages/blog";
@import "pages/post";
@import "pages/products";
@import "pages/team";

@font-face {
  font-family: 'OstrichSansMedium';
  src: url('/fonts/ostrich-sans-fontfacekit/ostrich-regular-webfont.eot');
  src: url('/fonts/ostrich-sans-fontfacekit/ostrich-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/ostrich-sans-fontfacekit/ostrich-regular-webfont.woff') format('woff'),
  url('/fonts/ostrich-sans-fontfacekit/ostrich-regular-webfont.ttf') format('truetype'),
  url('/fonts/ostrich-sans-fontfacekit/ostrich-regular-webfont.svg#OstrichSansMedium') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'OstrichSansBlack';
  src: url('/fonts/ostrich-sans-fontfacekit/ostrich-black-webfont.eot');
  src: url('/fonts/ostrich-sans-fontfacekit/ostrich-black-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/ostrich-sans-fontfacekit/ostrich-black-webfont.woff') format('woff'),
  url('/fonts/ostrich-sans-fontfacekit/ostrich-black-webfont.ttf') format('truetype'),
  url('/fonts/ostrich-sans-fontfacekit/ostrich-black-webfont.svg#OstrichSansBlack') format('svg');
  font-weight: normal;
  font-style: normal;
}


.thumbnail {
  display: inline-block;
  text-align: center;
}

header {
  background-color: black;
  text-align: center;

  &.white {
    background: white;

    .navbar {
      z-index: 1000;

      .navbar-collapse {
        @media (max-width: 767px) {
          background: #000000;
        }

        ul.navbar-nav {

          a {
            color: #000000;

            @media (max-width: 767px) {
              color: #ffffff;
            }

            &:hover,
            &.active {
              color: #FF9E2F;
            }
          }
        }
      }
    }
  }

  .container {
    border-bottom: 2px solid white;
  }

  .logo {
    margin-top: -22px;

    @media (max-width: 767px) {
      margin: 15px 0 34px;
      text-align: left;
    }

    a {
      font-family: Abril Fatface;
      font-size: 70px;
      text-decoration: none;
      color: $gizra-orange;

      @media (max-width: 767px) {
        font-size: 45px;
        padding: 0 20px;
      }
    }
  }

  .navbar {
    background: transparent;
    border: none;
    display: inline-block;
    min-height: initial;
    margin-bottom: -17px;
    position: relative;
    z-index: 1000;

    @media (max-width: 767px) {
      position: absolute;
      top: 25px;
      right: -2px;
    }

    .navbar-toggle {
      border: 0 none;

      &:hover, &:focus {
        border: 0 none;
        background: none;
      }

      .icon-bar {
        background: $gizra-orange-light;
        height: 3px;
      }
    }

    @media (max-width: 767px) {
      .navbar-collapse {
        position: relative;
        right: 0;
        top: -10px;
        z-index: 1000;
        border-top: 0 none;
        background: #ffffff;
      }
    }

    ul.navbar-nav {

      a {
        color: #9c5f1b;
        padding-top: 0;
        text-transform: uppercase;
        font-size: 15px;
        letter-spacing: 2px;
        font-family: OstrichSansBlack;

        &:hover,
        &.active {
          color: #FF9E2F;
        }

        @media (max-width: 767px) {
          font-size: 35px;
          line-height: 45px;
          padding-left: 50px;
          padding-right: 50px;
        }
      }
    }
  }
}


#slideshow {
  background: black;
  position: relative;
  overflow: hidden;

  &:before {
    content: ' ';
    display: block;
    background-color: white;
    height: 200px;
    bottom: -100px;
    left: -100px;
    right: -100px;
    position: absolute;
    @include rotate(4deg);
  }

  .background-wrapper {
    text-align: center;
    margin-top: 125px;
    // Pull the slides on top of the background.
    margin-bottom: -485px;

    @media (min-width: 768px) and (max-width: 991px)  {
      position: absolute;
      left: -36px;
    }

    .background {
      padding-top: 85px;

      @media (max-width: 767px) {
        visibility: hidden;
      }

    }

    h2 {
      font-size: 33px;
      margin-top: -46px;
      color: yellow;
      font-family: OstrichSansMedium;
      margin-left: -60px;

      @media (max-width: 767px) {
        display: none;
      }
    }
  }

  .carousel-indicators {
    bottom: 61px;
    left: 46%;

    @media (max-width: 767px) {
      display: none;
    }

    @media (max-width: 992px) {
      left: 50%;
    }



    li {
      height: 8px;
      width: 8px;

      &.active {
        height: 9px;
        width: 9px;
        background-color: orange;
        border-color: orange;
      }
    }
  }

  .carousel-inner {
    max-height: 483px;

    .scene {
      position: relative;
      min-height: 500px;
      width: 860px;
      margin: 0 auto;

      img {
        // Each image should be positioned absolute in order for parallax to
        // work.
        position: absolute;
      }

      &.whitehouse {

        .capital {
          right: 36%;
          bottom: 100px;

          @media (min-width: 550px) and (max-width: 767px) {
            right: 44%;
          }

          @media (max-width: 550px) {
            right: 54%;
          }
        }

        .three-ballons {
          left: 37%;
          bottom: 208px;

          @media (min-width: 550px) and (max-width: 767px) {
            left: 30%;
          }

          @media (max-width: 550px) {
            left: 20%;
          }
        }

        .ballon-blue {
          left: 14%;
          bottom: 129px;

          @media (min-width: 550px) and (max-width: 767px) {
            left: 7%;
            bottom: 180px;
          }

          @media (max-width: 550px) {
            left: 2%;
            bottom: 220px;
          }
        }

        .staff {
          left: 24%;
          bottom: 75px;

          @media (min-width: 550px) and (max-width: 767px) {
            left: 20%;
          }

          @media (max-width: 550px) {
            left: 5%;
          }
        }

        .ballon-red {
          left: 15%;
          bottom: 171px;
        }
      }

      // IBLI
     &.ibli {

       .globe {
        left: 39%;
        bottom: 84px;

         @media (min-width: 550px) and (max-width: 767px) {
           left: 33%;
         }

         @media (max-width: 550px) {
           left: 5%;
         }
       }

       .ufo {
         left: 18%;
         top: 204px;

         @media (min-width: 550px) and (max-width: 767px) {
           left: 14%;
         }

         @media (max-width: 550px) {
           left: 5%;
         }
       }

       .shuttle {
         right: 14%;
         top: 137px;

         @media (min-width: 550px) and (max-width: 767px) {
           right: 27%;
         }

         @media (max-width: 550px) {
           left: 37%;
         }
       }

       .satellite {
         left: 21%;
         bottom: 125px;

         @media (min-width: 550px) and (max-width: 767px) {
           left: 13%;
         }

         @media (max-width: 550px) {
           left: 5%;
         }
       }
     }

      // Harvard
      &.harvard {

        .flower {
          left: 23%;
          bottom: 95px;

          @media (min-width: 550px) and (max-width: 767px) {
            left: 14%;
          }

          @media (max-width: 550px) {
            left: 5%;
          }
        }

        .computer {
          left: 27%;
          bottom: 80px;

          @media (min-width: 550px) and (max-width: 767px) {
            left: 14%;
          }

          @media (max-width: 550px) {
            left: 5%;
          }
        }

        .tablet {
          right: 27%;
          bottom: 80px;

          @media (min-width: 550px) and (max-width: 767px) {
            right: 44%;
          }

          @media (max-width: 550px) {
            right: 5%;
          }
        }

        .mobile {
          right: 40%;
          bottom: 75px;

          @media (min-width: 550px) and (max-width: 767px) {
            right: 55%;
          }

          @media (max-width: 550px) {
            right: 5%;
          }
        }

        .logo {
          right: 22%;
          bottom: 66px;

          @media (min-width: 550px) and (max-width: 767px) {
            right: 38%;
          }

          @media (max-width: 550px) {
            right: 5%;
          }
        }

        .paper {
          left: 21%;
          bottom: 73px;

          @media (min-width: 550px) and (max-width: 767px) {
            left: 14%;
          }

          @media (max-width: 550px) {
            left: 5%;
          }
        }
      }

      // Grammy
      &.grammy {

        .stand {
          left: 18%;
          bottom: 98px;

          @media (min-width: 550px) and (max-width: 767px) {
            left: 8%;
          }

          @media (max-width: 550px) {
            display: none;
          }
        }

        .diamond-2 {
          left: 25%;
          bottom: 95px;

          @media (min-width: 550px) and (max-width: 767px) {
            left: 13%;
          }

          @media (max-width: 550px) {
            left: 2%;
          }
        }

        .gramophone-2 {
          left: 28%;
          bottom: 86px;

          @media (min-width: 550px) and (max-width: 767px) {
            left: 16%;
          }

          @media (max-width: 550px) {
            left: 4%;
          }
        }

        .diamond-1 {
          right: 25%;
          bottom: 70px;

          @media (min-width: 550px) and (max-width: 767px) {
            right: 35%;
          }

          @media (max-width: 550px) {
            display: none;
          }
        }

        .gramophone-1 {
          right: 31%;
          bottom: 75px;

          @media (min-width: 550px) and (max-width: 767px) {
            right: 40%;
          }

          @media (max-width: 550px) {
            right: 50%;
          }
        }
      }
    }


    .carousel-caption {
      bottom: 0;
      font-family: OstrichSansMedium;
      text-transform: uppercase;
      left: 0;
      right: 0;
      padding-bottom: 0;
      top: 0;

      .big {
        font-size: 604%;
        letter-spacing: 4px;
        line-height: 54px;

        @media (min-width: 991px) and (max-width: 1240px) {
          font-size: 454%;
        }
        @media (min-width: 769px) and (max-width: 990px) {
          font-size: 354%;
        }
        @media (min-width: 550px) and (max-width: 768px) {
          font-size: 250%;
        }
        @media (max-width: 550px) {
          font-size: 130%;
          letter-spacing: 2px;
        }
      }

      .small {
        font-size: 265%;
        letter-spacing: 1px;

        @media (min-width: 550px) {
          font-size: 160%;
        }
        @media (max-width: 550px) {
          font-size: 130%;
        }
      }
    }

  }
}

#work {
  background: #54898C;
  position: relative;
  overflow-x: hidden;
  padding-bottom: 40px;

  &:before {
    content: ' ';
    display: block;
    background-color: white;
    height: 200px;
    top: -100px;
    left: -100px;
    right: -100px;
    position: absolute;
    @include rotate(-4deg);
  }

  .background {
    text-align: center;
    margin-top: 24px;
    color: white;

    h2,
    .at-work {
      font-family: OstrichSansMedium;
    }

    h2 {
      font-size: 80px;
      margin-top: 27px;
      margin-bottom: 0;
      line-height: 26px;
    }

    .at-work {
      font-size: 50px;
    }

    p {
      font-size: 12px;
      margin-top: -13px;
      margin-bottom: 50px;
    }
  }

  .container {

    .logo {
      text-align: center;
      height: 248px;
      background: #467D83;
      border: 2px solid #54898C;

      @media (min-width: 550px) and (max-width: 767px) {
        max-width: 282px;
        margin-left: 10px;
      }
      @media (max-width: 549px) {
        max-width: 282px;
        margin-left: 15px;
      }

      &:hover {
        background: #396F74;
      }
    }
  }
}

#about {
  position: relative;
  background-color: black;

  .text-wrapper {
    padding-bottom: 60px;

    h2,
    p {
      color: white;
    }

    h2 {
      font-family: OstrichSansMedium;
      font-size: 80px;
      line-height: 120px;
      text-align: center;

      @media (min-width: 320px) and (max-width: 550px) {
        font-size: 55px;
        line-height: 70px;
      }

      @media (max-width: 320px) {
        font-size: 45px;
        line-height: 60px;
      }
    }

    p {
      font-size: 22px;
      line-height: 36px;
      margin-bottom: 36px;
    }
  }
}


#contact {
  background: url('/images/hompage/contact/map.jpg') no-repeat;
  background-position: center top;
  height: 470px;
  background-size: cover;
  position: relative;
  margin-top: 100px;

  @media (max-width: 550px) {
    background: transparent;
  }

  .background {
    background: url('/images/hompage/contact/envelope.png') no-repeat center;
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 auto;
  }

  .contact-wrapper {
    max-width: 580px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 70px;
    margin: 0 auto;
  }

  h2 {
    font-family: OstrichSansMedium;
    font-size: 80px;
    margin-top: 0;
    line-height: 61px;
    text-align: center;
  }

  address {
    text-align: center;
    color: $gizra-black;

    div {
      padding: 10px 0;

      a {
        color: $gizra-black;
      }
    }

  }
}

.demo-block {
  font-family: OstrichSansMedium;
  border-top: 1px dashed rgba(154, 43, 44, 0.26);
  border-bottom: 1px dashed rgba(154, 43, 44, 0.26);
  padding: 10px 0px;
  margin-bottom: 20px;

  .demo {
    margin-right: 10px;
  }

  .demo, .code {
    font-size: 22px;
    color: #ffffff;
    background: $gizra-blue;
    padding: 7px 10px;
    width: 180px;
    display: inline-block;

    &:hover {
      background: $gizra-blue-dark;
      text-decoration: none;
    }
  }
}
