@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import "compass/css3/border-radius";
@import "compass/css3/transform";
@import "compass/css3/transition";


$gizra-orange: #e27058;
$gizra-orange-dark: #bb5641;
$gizra-orange-light: #fba200;
$gizra-blue: #2a5691;
$gizra-black: #515151;
$gizra-orange-hover: #E75E08;
$gizra-text: #5D5D5D;


@font-face {
  font-family: 'OstrichSansMedium';
  src: url('/fonts/ostrich-sans-fontfacekit/ostrich-regular-webfont.eot');
  src: url('/fonts/ostrich-sans-fontfacekit/ostrich-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/ostrich-sans-fontfacekit/ostrich-regular-webfont.woff') format('woff'),
  url('/fonts/ostrich-sans-fontfacekit/ostrich-regular-webfont.ttf') format('truetype'),
  url('/fonts/ostrich-sans-fontfacekit/ostrich-regular-webfont.svg#OstrichSansMedium') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'OstrichSansBlack';
  src: url('/fonts/ostrich-sans-fontfacekit/ostrich-black-webfont.eot');
  src: url('/fonts/ostrich-sans-fontfacekit/ostrich-black-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/ostrich-sans-fontfacekit/ostrich-black-webfont.woff') format('woff'),
  url('/fonts/ostrich-sans-fontfacekit/ostrich-black-webfont.ttf') format('truetype'),
  url('/fonts/ostrich-sans-fontfacekit/ostrich-black-webfont.svg#OstrichSansBlack') format('svg');
  font-weight: normal;
  font-style: normal;

}

// This will make the images fill the frame in all thumbed images
// The problem is that it will stretch small images in big resolutions.
.thumbnail > img, .thumbnail a > img {
  width: 100%;
}

header {
  background-color: black;
  text-align: center;

  &.white {
    background: white;

    .navbar {
      z-index: 1000;

      .navbar-collapse {
        @media (max-width: 767px) {
          background: #000000;
        }

        ul.navbar-nav {

          a {
            color: #000000;

            @media (max-width: 767px) {
              color: #ffffff;
            }

            &:hover,
            &.active {
              color: #FF9E2F;
            }
          }
        }
      }
    }
  }

  .container {
    border-bottom: 2px solid white;
  }

  .logo {
    margin-top: -22px;

    @media (max-width: 767px) {
      margin: 15px 0 34px;
      text-align: left;
    }

    a {
      font-family: Abril Fatface;
      font-size: 70px;
      text-decoration: none;
      color: $gizra-orange;

      @media (max-width: 767px) {
        font-size: 45px;
        padding: 0 20px;
      }
    }
  }

  .navbar {
    background: transparent;
    border: none;
    display: inline-block;
    min-height: initial;
    margin-bottom: -17px;
    position: relative;
    z-index: 1000;

    @media (max-width: 767px) {
      position: absolute;
      top: 25px;
      right: -2px;
    }

    .navbar-toggle {
      border: 0 none;

      &:hover, &:focus {
        border: 0 none;
        background: none;
      }

      .icon-bar {
        background: $gizra-orange-light;
        height: 3px;
      }
    }

    @media (max-width: 767px) {
      .navbar-collapse {
        position: relative;
        right: 0;
        top: -10px;
        z-index: 1000;
        border-top: 0 none;
        background: #ffffff;
      }
    }

    ul.navbar-nav {

      a {
        color: #9c5f1b;
        padding-top: 0;
        text-transform: uppercase;
        font-size: 15px;
        letter-spacing: 2px;
        font-family: OstrichSansBlack;

        &:hover,
        &.active {
          color: #FF9E2F;
        }

        @media (max-width: 767px) {
          font-size: 35px;
          line-height: 45px;
          padding-left: 50px;
          padding-right: 50px;
        }
      }
    }
  }
}


#slideshow {
  background: black;
  position: relative;
  overflow: hidden;

  &:before {
    content: ' ';
    display: block;
    background-color: white;
    height: 200px;
    bottom: -100px;
    left: -100px;
    right: -100px;
    position: absolute;
    @include rotate(4deg);
  }

  .background-wrapper {
    text-align: center;
    margin-top: 125px;
    // Pull the slides on top of the background.
    margin-bottom: -485px;

    .background {
      padding-top: 85px;

      @media (max-width: 767px) {
        visibility: hidden;
      }
    }

    h2 {
      font-size: 33px;
      margin-top: -46px;
      color: yellow;
      font-family: OstrichSansMedium;
      margin-left: -60px;

      @media (min-width: 601px) and (max-width: 990px) {
        margin-left: 65px;
      }

      @media (max-width: 767px) {
        display: none;
      }
    }
  }

  .carousel-indicators {
    bottom: 61px;

    li {
      height: 8px;
      width: 8px;

      &.active {
        height: 9px;
        width: 9px;
        background-color: orange;
        border-color: orange;
      }
    }
  }

  .carousel-inner {
    max-height: 483px;

    .scene {
      position: relative;
      min-height: 500px;
      width: 860px;
      margin: 0 auto;

      img {
        // Each image should be positioned absolute in order for parallax to
        // work.
        position: absolute;
      }

      &.whitehouse {

        .capital {
          right: 36%;
          bottom: 100px;

          @media (max-width: 320px) {
            right: 69%;
          }
        }

        .three-baloons {
          left: 37%;
          bottom: 208px;

          @media (max-width: 320px) {
            left: 1%;
          }
        }

        .baloon-blue {
          left: 14%;
          bottom: 129px;

          @media (max-width: 320px) {
            left: 1%;
          }
        }

        .staff {
          left: 24%;
          bottom: 75px;

          @media (max-width: 320px) {
            left: 1%;
          }
        }

        .baloon-red {
          left: 15%;
          bottom: 171px;

          @media (max-width: 320px) {
            left: -15%;
          }
        }
      }

      // IBLI
     &.ibli {

       .globe {
        left: 39%;
        bottom: 84px;
       }

       .ufo {
         left: 18%;
         top: 204px;
       }

       .shuttle {
         right: 14%;
         top: 137px;
       }

       .satellite {
         left: 21%;
         bottom: 125px;
       }
     }

      // Harvard
      &.harvard {

        .flower {
          left: 23%;
          bottom: 95px;
        }

        .computer {
          left: 27%;
          bottom: 80px;
        }

        .tablet {
          right: 27%;
          bottom: 80px;
        }

        .mobile {
          right: 40%;
          bottom: 75px;
        }

        .logo {
          right: 22%;
          bottom: 66px;
        }

        .paper {
          left: 21%;
          bottom: 73px;
        }
      }

      // Grammy
      &.grammy {

        .stand {
          left: 18%;
          bottom: 98px;
        }

        .diamond-2 {
          left: 25%;
          bottom: 95px;
        }

        .gramophone-2 {
          left: 28%;
          bottom: 86px;
        }

        .diamond-1 {
          right: 25%;
          bottom: 70px;
        }

        .gramophone-1 {
          right: 31%;
          bottom: 75px;
        }
      }
    }


    .carousel-caption {
      bottom: 0;
      font-family: OstrichSansMedium;
      text-transform: uppercase;
      left: 0;
      right: 0;
      padding-bottom: 0;
      top: 0;

      .big {
        font-size: 604%;
        letter-spacing: 4px;
        line-height: 54px;

        @media (min-width: 991px) and (max-width: 1240px) {
          font-size: 454%;
        }
        @media (min-width: 769px) and (max-width: 990px) {
          font-size: 354%;
        }
        @media (min-width: 550px) and (max-width: 768px) {
          font-size: 250%;
        }
        @media (max-width: 550px) {
          font-size: 130%;
          letter-spacing: 2px;
        }
      }

      .small {
        font-size: 265%;
        letter-spacing: 1px;

        @media (min-width: 768px) and (max-width: 1240px) {
          font-size: 160%;
        }
        @media (min-width: 550px) and (max-width: 768px) {
          font-size: 130%;
        }
        @media (max-width: 550px) {
          font-size: 90%;
        }
      }
    }

  }
}

#products {
  position: relative;
  border-top: 22px solid white;

  .col-md-4,
  .half-strip {
    min-height: 180px;
  }

  .academy,
  .smart-city,
  .publishing {
    font-family: OstrichSansBlack;
    font-size: 500%;
    text-align: center;

    a {
      text-decoration: none;
    }
  }


  .academy {
    background-color: #FF763F;
    border-top: 20px solid #A2E4B0;
    padding-top: 40px;

    .icon {
      padding-top: 10px;
      background: url('/images/hompage/products/academy.png') 50% 0 transparent no-repeat;
    }

    a {
      color: #F8BB88;
    }
  }

  .smart-city {
    background-color: #FF2A0F;
    border-top: 40px solid #FF9E00;

    .icon {
      padding-top: 40px;
      background: url('/images/hompage/products/electricity.png') 50% 0 transparent no-repeat;
      margin-top: -10px;
    }

    a {
      color: #ff7849;
    }
  }

  .publishing {
    background-color: #D50000;
    border-top: 10px solid #F44000;
    padding-top: 30px;

    .icon {
      padding-top: 30px;
      background: url('/images/hompage/products/publishing.png') 50% 0 transparent no-repeat;
    }

    a {
      color: #FF2A08;
    }
  }

  .half-strip-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -5;

    .half-strip {
      width: 50%;
      float: left;

      &.first {
        background-color: #FF763F;
        border-top: 20px solid #A2E4B0;
      }

      &.last {
        background-color: #D50000;
        border-top: 10px solid #F44000;
      }
    }
  }

  .strip {
    min-height: 180px;

    @media (min-width: 991px) {
        display: none;
    }
  }

  @media (max-width: 991px) {

    .container {
      margin-bottom: -540px;
    }

    .half-strip {
      display: none;
    }
  }
}

#about {
  position: relative;
  background: url('/images/hompage/about/background.jpg') black;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-attachment: fixed;
  background-size: cover;
  height: 500px;


  @media (max-width: 600px) {
    height: 550px;
  }

  svg {
    position: absolute;
    top: 50px;
    pointer-events: none;

    @media (max-width: 768px) {
     display: none;
    }
  }

  .text-wrapper {
    text-align: center;
    margin-top: 50px;

    @media (max-width: 550px) {
      margin-top: -30px;
    }

    h2,
    p {
      color: white;
    }

    h2 {
      font-family: OstrichSansMedium;
      font-size: 80px;
      line-height: 120px;
      text-align: center;

      @media (min-width: 320px) and (max-width: 550px) {
        font-size: 55px;
      }
      @media (max-width: 320px) {
        font-size: 45px;
        line-height: 22px;
      }
    }

    p {
      font-size: 14px;
      line-height: 16px;
    }
  }

  .see-all {
    text-align: center;
    margin-top: 65px;

    @media (min-width: 700px) and (max-width: 990px) {
      margin-top: 95px;
    }
    @media (min-width: 600px) and (max-width: 700px) {
      margin-top: 45px;
    }
    @media (max-width: 599px) {
      margin-top: 35px;
    }

    a {
      text-decoration: none;
      color: black;
      text-transform: uppercase;
      font-family: OstrichSansMedium;
      font-size: 20px;
    }
  }
}

#work {
  background-color: white;
  color: black;
  margin-top: 103px;
  margin-bottom: 175px;

  .background,
  h2,
  p {
    text-align: center;
  }

  h2 {
    font-family: OstrichSansMedium;
    font-size: 80px;
    margin-top: 0;
    line-height: 61px;
  }

  .work-wrapper {
    height: 497px;
    padding-top: 100px;
    padding-left: 100px;

    @media (min-width: 991px) and (max-width: 1240px) {
      padding-top: 100px;
      padding-left: 50px;
    }
    @media (min-width: 769px) and (max-width: 990px) {
      padding-top: 100px;
      padding-left: 225px;
    }
    @media (min-width: 550px) and (max-width: 768px) {
      padding-top: 100px;
      padding-left: 155px;
    }
    @media (max-width: 550px) {
      padding-top: 100px;
      padding-left: 18px;
    }

    &:hover {

      .description {
        background: black;
        color: white;
        border: 10px solid black;
      }
    }

    &.commerce {
      background: url('/images/hompage/work/example1.jpg') no-repeat center;
    }

    &.imanimo {
      background: url('/images/hompage/work/example2.jpg') no-repeat center;
    }

    &.commons {
      background: url('/images/hompage/work/example3.jpg') no-repeat center;
    }

    &.openscholar {
      background: url('/images/hompage/work/example4.jpg') no-repeat center;
    }

    .description {
      height: 285px;
      width: 285px;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      @include border-radius(250px);
      background: white;
      color: black;
      border: 10px solid white;
    }
  }
}

#code {
  background: #54898C;
  position: relative;
  overflow-x: hidden;
  padding-bottom: 186px;

  &:before {
    content: ' ';
    display: block;
    background-color: white;
    height: 200px;
    top: -100px;
    left: -100px;
    right: -100px;
    position: absolute;
    @include rotate(-4deg);
  }

  .background {
    text-align: center;
    margin-top: 24px;
    color: white;

    h2,
    .at-work {
      font-family: OstrichSansMedium;
    }

    h2 {
      font-size: 80px;
      margin-top: 27px;
      margin-bottom: 0;
      line-height: 26px;
    }

    .at-work {
      font-size: 50px;
    }

    p {
      font-size: 12px;
      margin-top: -13px;
      margin-bottom: 130px;
    }
  }

  .container {

    .logo {
      text-align: center;
      height: 248px;
      background: #467D83;
      border: 2px solid #54898C;

      @media (min-width: 550px) and (max-width: 767px) {
        max-width: 282px;
        margin-left: 10px;
      }
      @media (max-width: 549px) {
        max-width: 282px;
        margin-left: 15px;
      }

      &:hover {
        background: #396F74;
      }

      img {
      }
    }
  }
}

#blog {
  background: white;
  position: relative;
  overflow-x: hidden;
  margin-bottom: 112px;

  &:before {
    content: ' ';
    display: block;
    background-color: #54898C;
    height: 200px;
    top: -100px;
    left: -100px;
    right: -100px;
    position: absolute;
    @include rotate(1deg);
  }

  .background {
    margin-bottom: 121px;

    img {
      max-height: 300px;
      width: 100%;
    }
  }

  .title {
    position: absolute;
    top: 38px;
    left: 50%;
    margin-left: -12%;
    text-align: center;
    background: url('/images/hompage/blog/ballons.png') no-repeat 0 100px;
    height: 350px;
    width: 400px;
    padding-top: 210px;
    overflow: hidden;

    @media (max-width: 768px) {
      left: 40%;
    }

    @media (max-width: 550px) {
      top: -70px;
      left: 15%;
    }

    h2 {
      font-family: OstrichSansMedium;
      font-size: 81px;
      line-height: 57px;
      margin-left: 30px;

    }
  }

  .post {
    margin-bottom: 50px;

    .date,
    .post-label {
      font-family: OstrichSansMedium;
    }

    .date {
      color: orange;
      font-size: 38px;

      @media (min-width: 769px) and (max-width: 990px) {
        font-size: 30px;
      }
      @media (min-width: 550px) and (max-width: 768px) {
        font-size: 25px;
      }
      @media (max-width: 550px) {
        font-size: 20px;
      }
    }

    .teaser,
    .post-label a {
      color: $gizra-black;
    }

    .post-label {

      a {
        font-size: 83px;
        line-height: 50px;

        @media (min-width: 991px) and (max-width: 1240px) {
          font-size: 490%;
        }
        @media (min-width: 769px) and (max-width: 990px) {
          font-size: 364%;
        }
        @media (min-width: 550px) and (max-width: 768px) {
          font-size: 290%;
        }
        @media (max-width: 550px) {
          font-size: 190%;
        }

        &:hover {
          color: $gizra-blue;
          text-decoration: none;
        }
      }
    }
  }

  .all-posts {
    background: $gizra-orange;
    text-align: center;
    width: 135px;

    a {
      color: white;
      font-family: OstrichSansMedium;
      font-size: 32px;

      &:hover {
        text-decoration: none;
      }

    }


    &:hover {
      background: $gizra-orange-dark;
    }
  }
}

#contact {
  background: url('/images/hompage/contact/map.jpg') no-repeat;
  background-position: center top;
  height: 521px;
  background-size: cover;
  position: relative;

  .background,
  .contact-wrapper {
    position: absolute;
    left: 50%;
    margin-left: -317px;
  }

  .background {
    bottom: 0;
  };

  .contact-wrapper {
    width: 635px;
    padding-left: 30px;
    padding-right: 30px;
    top: 121px;

    @media (max-width: 550px) {
      width: 500px;
      padding-left: 170px;
    }
  }

  h2 {
    font-family: OstrichSansMedium;
    font-size: 80px;
    margin-top: 0;
    line-height: 61px;
    text-align: center;
  }

  address {
    text-align: center;
    color: $gizra-black;

    a {
      color: $gizra-black;
    }
  }

  form {

    .text-field,
    .text-area {
      width: 100%;
      display: block;
      border: none;
      border-bottom: 1px solid $gizra-black;
      background-color: transparent;
      color: black;

      &::-webkit-input-placeholder {
        color: $gizra-black;
        font-style: italic;
      }

      &:-moz-placeholder { /* Firefox 18- */
        color: $gizra-black;
        font-style: italic;
      }

      &::-moz-placeholder {  /* Firefox 19+ */
        color: $gizra-black;
        font-style: italic;
      }

      &:-ms-input-placeholder {
        color: $gizra-black;
        font-style: italic;
      }
    }

    .text-area {
      resize: none;
    }

    .btn-primary {
      border-radius: 0;
      float: right;
      background-color: $gizra-black;
      color: #DBB68A;
      border: none;
      font-family: OstrichSansMedium;
      font-size: 32px;
      line-height: 32px;
      padding: 5px 25px;
    }
  }
}

// Post Page
#post-page,
#blog-page {
  position: relative;
  overflow-x: hidden;
  background: white;
  margin-top: -20px;

  a {

    &:hover {
      text-decoration: none;
    }
  }

  &:before {
    content: ' ';
    display: block;
    background-color: white;
    height: 200px;
    top: -165px;
    left: -100px;
    right: -100px;
    position: absolute;
    @include rotate(2deg);

    @media (max-width: 767px) {
      display: none;
    }
  }

  .background {
    margin-bottom: 121px;

    @media (max-width: 550px) {
      margin-bottom: 45px;
    }

    img {
      max-height: 300px;
      width: 100%;
    }
  }

  .baloons {
    position: absolute;
    top: 38px;
    left: 50%;
    margin-left: -12%;
    text-align: center;
    background: url('/images/hompage/blog/ballons.png') no-repeat 0 100px;
    height: 350px;
    width: 400px;
    padding-top: 210px;
    overflow: hidden;

    @media (min-width: 769px) and (max-width: 1240px) {
      left: 60%;
      height: 215px;
      background-position: 0 0;
    }

    @media (min-width: 550px) and (max-width: 768px) {
      left: 60%;
      height: 215px;
      background-position: 0 0;
    }

    @media (max-width: 550px) {
      display: none;
    }
  }

  .post-back {
    position: absolute;
    top: 250px;
    left: 20%;
    text-align: center;

    @media (min-width: 769px) and (max-width: 1240px) {
      top: 140px;
      left: 10%;
    }

    @media (min-width: 550px) and (max-width: 768px) {
      top: 105px;
      left: 10%;
    }

    @media (max-width: 550px) {
      top: 45px;
      left: 5%;
    }
  }

  .content {

    .date,
    .post-label,
    .author,
    .seprator,
    .previous,
    .next {
      font-family: OstrichSansMedium;
    }

    .post-label {

      a {
        font-size: 83px;
        line-height: 50px;
        color: #9A2B2C;

        @media (min-width: 991px) and (max-width: 1240px) {
          font-size: 560%;
        }
        @media (min-width: 769px) and (max-width: 990px) {
          font-size: 480%;
        }
        @media (min-width: 550px) and (max-width: 768px) {
          font-size: 360%;
        }
        @media (max-width: 550px) {
          font-size: 290%;
        }

        &:hover {
          text-decoration: none;
        }
      }
    }

    .small-row {
      width: 60%;

      @media (min-width: 991px) and (max-width: 1240px) {
        width: 75%;
      }
      @media (min-width: 769px) and (max-width: 990px) {
        width: 80%;
      }
      @media (min-width: 550px) and (max-width: 768px) {
        width: 85%;
      }
      @media (max-width: 550px) {
        width: 100%;
      }

      .date,
      .author,
      .seprator {
        color: #9D9D9D;
        font-size: 38px;
        float: left;

        @media (min-width: 769px) and (max-width: 990px) {
          font-size: 30px;
        }
        @media (min-width: 550px) and (max-width: 768px) {
          font-size: 25px;
        }
        @media (max-width: 550px) {
          font-size: 20px;
        }

        a {
          color: #9D9D9D;
        }
      }

      .comments-count, .tags {
        margin: 20px 0;
        color: #4883B4;
        font-weight: bold;
        padding-left: 35px;
        padding-top: 2px;
      }

      .comments-count {
        background: url("/images/post/small-comment.jpg") 15px 0 no-repeat;
      }

      .tags {
        background: url("/images/post/small-tags.jpg") 12px 0 no-repeat;
      }
    }
  }

  .post-content {
    color: $gizra-text;
  }

  .bottom-dash {
    border-bottom: 4px dashed $gizra-text;
    margin: 30px 0;
  }

  .bottom-dash-small {
    border-bottom: 2px dashed #838383;
    margin: 30px 0;
  }

  .post-nav {
    margin-bottom: 30px;

    .previous,
    .next {

      &:hover {
        background-color: $gizra-orange-dark;
      }

      a {
        color: #ffffff;
        font-size: 35px;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .previous {
      float: left;
      background:  url("/images/post/prev.png") 5px 18px no-repeat $gizra-orange;

      a {
        padding: 6px 10px 6px 30px;
      }
    }

    .next {
      float: right;
      background:  url("/images/post/next.png") 95% 18px no-repeat $gizra-orange;

      a {
        padding: 6px 30px 6px 10px;
      }
    }

    .prev-text,
    .next-text {
      color: $gizra-orange;
      width: 100%;
      float: left;
      font-weight: bold;
    }

    .next-text {
      text-align: right;
      float: right;
    }
  }

  .author-details {
    margin-bottom: 30px;

    .image-wrapper {
      max-width: 80px;
      padding: 0;

      img {
        width: 100%;
      }
    }

    .text-wrapper {
      color: $gizra-text;
    }
  }
}

// Blog Page
#blog-page {

  .blog-title {
    position: absolute;
    top: 38px;
    left: 50%;
    margin-left: -12%;
    text-align: center;
    background: url('/images/hompage/blog/ballons.png') no-repeat 0 100px;
    height: 350px;
    width: 400px;
    padding-top: 210px;
    overflow: hidden;

    @media (min-width: 769px) and (max-width: 1240px) {
      left: 38%;
      height: 215px;
      background-position: 0 0;
      padding-top: 110px;
    }

    @media (min-width: 550px) and (max-width: 768px) {
      left: 25%;
      height: 215px;
      padding-top: 110px;
      background-position: 0 0;
    }

    @media (max-width: 550px) {
      left: -23%;
      height: 215px;
      padding-top: 0px;
      background: none;
    }

    h2 {
      font-family: OstrichSansMedium;
      font-size: 81px;
      line-height: 57px;
      margin-left: 30px;

      @media (max-width: 550px) {
        font-size: 45px;
        line-height: 25px;
        margin-left: 0px;
      }
    }
  }

  .content {
    .post-label {

      a {
        @media (min-width: 991px) and (max-width: 1240px) {
          font-size: 560%;
        }
        @media (min-width: 769px) and (max-width: 990px) {
          font-size: 480%;
        }
        @media (min-width: 550px) and (max-width: 768px) {
          font-size: 360%;
        }
        @media (max-width: 550px) {
          font-size: 220%;
        }
      }
    }
  }

  .bottom-dash {
    border-bottom: 4px dashed $gizra-text;
    margin: 30px 0 150px;
  }

  .pager-wrapper {
    width: auto;
    background-color: $gizra-orange;
    color: $gizra-text;
    padding: 10px 20px 6px;
    min-height: 45px;
    margin-bottom: 100px;
    float: left;

    #pager {
      list-style: none;
      padding: 0;
      margin: 0;
      float: left;

      li.page {
        float: left;
        padding: 0 28px;
        font-family: OstrichSansMedium;
        font-size: 50px;
        line-height: 35px;
        border-right: 1px solid white;

        @media (min-width: 550px) and (max-width: 768px) {
          padding: 0 20px;
        }
        @media (max-width: 550px) {
          padding: 0 14px;
        }

        &.last {
          border-right: 0 none;
        }

        a {
          color: white;

          &:hover,
          &:active {
            color: white;
          }
        }
      }

      .prev,
      .next {
        float: left;

        a {
          float: left;
          width: 15px;
          height: 40px;
          background: url("/images/post/next.png") 0 10px no-repeat transparent;
        }
      }

      .prev a{
        background-image: url("/images/post/prev.png");
      }
    }
  }
}

// Products Page
#products-page {
  position: relative;
  overflow-x: hidden;
  margin-top: -20px;

  a {

    &:hover {
      text-decoration: none;
    }
  }

  &:before {
    content: ' ';
    display: block;
    background-color: white;
    height: 200px;
    top: -165px;
    left: -100px;
    right: -100px;
    position: absolute;
    @include rotate(2deg);

    @media (max-width: 767px) {
      display: none;
    }
  }

  .background {
    margin-bottom: 121px;

    @media (max-width: 550px) {
      margin-bottom: 45px;
    }

    img {
      max-height: 300px;
      width: 100%;
    }
  }

  .container-background {
    position: relative;

    &:before {
      content: ' ';
      display: block;
      background-color: #E9E9E9;
      height: 600px;
      top: 300px;
      left: -100px;
      right: -100px;
      position: absolute;
      @include rotate(6deg);
    }

    &:after {
      content: ' ';
      display: block;
      background-color: #E9E9E9;
      height: 600px;
      top: 670px;
      left: -100px;
      right: -100px;
      position: absolute;
      @include rotate(-6deg);
    }
  }

  .container {

    .product-name,
    .view-wrapper a {
      font-family: OstrichSansMedium;
    }

    .product {
      margin-bottom: 200px;

      @media (max-width: 768px) {
        margin-bottom: 100px;
      }

      &.last {
        margin-bottom: 100px;

        @media (max-width: 768px) {
          margin-bottom: 50px;
        }
      }

      .product-name {
        margin-top: 25px;
        padding-top: 50px;
        font-size: 40px;
        font-weight: bold;
        letter-spacing: 1px;

        @media (min-width: 768px) and (max-width: 1240px) {
          margin-top: 0;
        }

        @media (max-width: 768px) {
          font-size: 25px;
        }

        &.openscholar {
          background:  url("/images/products/openscholar-icon.png") 0 0 no-repeat;
        }

        &.garment {
          background:  url("/images/products/garment-icon.png") 0 0 no-repeat;
        }

        &.zariz {
          background:  url("/images/products/zariz-icon.png") 0 0 no-repeat;
        }
      }

      .product-icon {
        margin: 20px 0 30px;
      }

      .view-wrapper {
        float: left;
        background-color: black;

        a {
          color: white;
          font-size: 30px;
          letter-spacing: 2px;
          padding: 0 20px;

          &:hover,
          &:active {
            color: white;
            text-decoration: none;
          }
        }

        &:hover {
          background-color: $gizra-orange-hover;
        }
      }
    }
  }
}

// About Page
// Products Page
#about-page {
  position: relative;
  overflow-x: hidden;
  margin-top: -20px;

  a {

    &:hover {
      text-decoration: none;
    }
  }

  &:before {
    content: ' ';
    display: block;
    background-color: white;
    height: 200px;
    top: -165px;
    left: -100px;
    right: -100px;
    position: absolute;
    @include rotate(2deg);

    @media (max-width: 767px) {
      display: none;
    }
  }

  .background {
    margin-bottom: 2px;

    img {
      max-height: 300px;
      width: 100%;
    }
  }

  .title {
    position: absolute;
    top: 60px;
    left: 20%;
    text-align: center;
    height: 235px;
    width: 60%;
    overflow: hidden;
    color: white;

    @media (min-width: 769px) and (max-width: 1240px) {

    }

    @media (min-width: 550px) and (max-width: 768px) {

    }

    @media (max-width: 550px) {

    }

    h2 {
      font-family: OstrichSansMedium;
      font-size: 81px;
      line-height: 57px;
      margin-left: 30px;

      @media (max-width: 550px) {
        font-size: 45px;
        line-height: 25px;
        margin-left: 0px;
      }
    }

    .description {
      text-align: center;
      font-size: 14px;
      line-height: 20px;
      font-weight: bold;
      margin-top: 25px;
    }
  }

  .container {
    max-width: 1000px;
    margin-bottom: 50px;

    .row {

      div {
        padding: 0;
        position: relative;
      }
    }

    .member-details {
      margin: 10px -15px 30px -15px;

      .member-name-big {
        font-family: OstrichSansMedium;
        font-size: 65px;
        line-height: 50px;
        color: #426C46;
        margin-bottom: 10px;
      }

      .role {
        font-family: OstrichSansMedium;
        font-size: 35px;
        line-height: 30px;
        color: black;
      }

      .social {
        width: 100%;
        margin-bottom: 10px;
        float: left;

        a {
          float: left;
          margin-right: 20px;
        }
      }

      .details {

      }
    }

    .team-head {
      margin-bottom: 2px;

      div {
        max-width: 333px;

        .member-name {
          font-family: OstrichSansMedium;
          font-size: 65px;
          line-height: 55px;
          color: white;
          width: 40%;
          position: absolute;
          bottom: 10px;
          left: 10px;
        }
      }
    }

    .team {

      div {
        max-width: 249px;

        .member-name {
          font-family: OstrichSansMedium;
          font-size: 55px;
          line-height: 45px;
          color: white;
          width: 40%;
          position: absolute;
          bottom: 10px;
          left: 10px;
        }
      }
    }
  }
}
