$gizra-orange: #e27058;
$gizra-orange-dark: #bb5641;
$gizra-orange-light: #fba200;
$gizra-blue: #578E9B;
$gizra-blue-dark: #244b80;
$gizra-black: #515151;
$gizra-orange-hover: #E75E08;
$gizra-text: #5D5D5D;

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'compass/css3/border-radius';
@import 'compass/css3/transform';
@import 'compass/css3/transition';

@import 'mixins';
@import 'code';
@import 'pages/about';
@import 'pages/blog';
@import 'pages/post';
@import 'pages/team';


body {
  font-family: verdana, sans-serif;
}

.text-uppercase {
  text-transform: uppercase;
}

.thumbnail {
  display: inline-block;
  text-align: center;
  border: 0;
}

.abril-font {
  font-family: Abril Fatface;
}

.divider {
  margin: 20px auto;
  border-top: 1px solid white;
  width: 90%;
}

.header-homepage {
  background: url('/images/header/background.png') no-repeat left top;
  background-size: cover;
  width: 100%;
  text-align: left;

  #slogan {
    position: relative;
    overflow: hidden;
    color: white;
    margin-left: 8px;

    @include desktop {
      height: 414px;
    }

    h2 {
      font-family: Lato;
      font-weight: bold;
      font-size: 25px;
      line-height: 32px;
      text-transform: uppercase;
      margin: 25px 2px 0;
      letter-spacing: 3.3px;

      @include mobile {
        font-size: 23px;
      }
    }

    p {
      margin: 7px 2px;
      font-size: 18px;
      max-width: 430px;
      line-height: 23px;
    }

    h3 {
      display: inline-block;
      text-transform: uppercase;
      font-size: 22px;
      margin: -4px 0 0 420px;
    }
  }
}

header {

  .gizra-logo {
    margin: -2px 0 0 8px;

    a {
      font-family: Abril Fatface;
      font-size: 108px;
      text-decoration: none;
      color: $gizra-orange;
    }
  }

  .navbar {
    background: transparent;
    border: 0;

    @include desktop {
      margin: 60px 3px -16px;
      display: inline-block;
    }

    @include mobile {
      margin-bottom: -25px;
    }

    .container-fluid {
      padding-left: 0;
      padding-right: 0;
    }

    .navbar-toggle {
      border: 0;

      &:hover,
      &:focus {
        border: 0 none;
        background: none;
      }

      .icon-bar {
        background: white;
        height: 3px;
      }
    }

    .navbar-nav {

      li {

        @include desktop {
          &:after {
            content: '.';
            color: white;
            display: inline-block;
          }

          &:first-child  a {
            padding-left: 0;
          }

          &:last-child {

            &:after {
              display: none;
            }
          }
        }

        a {
          color: white;
          padding-top: 0;
          font-size: 14px;
          letter-spacing: 0.5px;
          display: inline-block;
          font-family: Verdana;

          @include mobile {
            padding-left: 25px;
          }

          &:hover,
          &.active {
            color: $gizra-orange-light;
          }
        }
      }
    }
  }
}

#work {
  padding-bottom: 37px;
  text-align: left;
  position: relative;
  color: white;


  .title {
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: 8px;

    @include mobile {
      text-align: center;
      margin: 45px 0 0;
    }
  }

  .clients {
    list-style: none;
    border-top: 1px solid white;
    padding: 0;

    @include desktop {
      padding-top: 20px;
    }

    @include mobile {
      margin-top: 10px;
      text-align: center;
      border-bottom: 1px solid white;
      padding: 10px 0;
    }
  }

  .logo {
    position: relative;
    padding: 0 10px;

    @include desktop {
      border-right: 1px solid white;
      text-align: center;
      float: left;
      line-height: 300px;
      height: 300px;
      width: 14.28%;

      &:last-child {
        border-right: 0;
      }
    }

    @include mobile {
      padding: 20px 0;
    }

    &:hover img {
      @include mobile {
        opacity: 0.5;
      }
    }

    .popup-block {
      display: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 3px 10px;
      line-height: normal;
      font-size: 16px;

      a {
        display: inline-block;
        margin-top: 5px;
        padding: 6px 14px;
        color: white;
        border: 1px solid white;
        border-radius: 3px;
      }
    }

    img {
      display: inline-block;

      @include desktop {
        vertical-align: middle;
      }

      @include mobile {
        max-width: 100%;
        height: auto;
      }
    }
  }
}

#recommendations {
  margin-top: 90px;

  @include mobile {
    margin-top: 30px;
  }

  button {
    color: white;
    background: $gizra-blue;
    border: 0;
    outline: none;

    &:hover {
      background: #3A656F;
    }
  }
  
  #recommendations-mobile {
    margin-top: 35px;
    margin-bottom: 22px;
  }
}

#carousel-recommendations-desktop ,
#carousel-recommendations-mobile {

  .carousel-indicators {
    margin: 0;
    left: 0;
    bottom: 0;
    text-align: left;

    @include mobile {
      bottom: -22px;
      text-align: center;
      width: 100%;
    }

    li {
      margin: 1px;
      width: 13px;
      height: 13px;
      background-color: black;

      @include mobile {
        margin: 5px;
        width: 17px;
        height: 17px;
      }
    }

    .active {
      background-color: $gizra-blue;
    }
  }

  .item {
    padding-bottom: 20px;

    .top-image {
      margin-bottom: 50px;
    }

    p {
      font-size: 20px;
      line-height: 30px;
    }

    .blockquote {
      font-size: 23px;
      line-height: 38px;
      margin-bottom: 45px;

      &:before {
        content: '';
        display: inline-block;
        box-sizing: border-box;
        background: url('/images/homepage/quote-mark-small.png') no-repeat;
        width: 32px;
        height: 28px;
        margin: 0;
      }

      &:after {
        content: '';
        display: inline-block;
        box-sizing: border-box;
        background: url('/images/homepage/quote-mark-small.png') no-repeat;
        width: 32px;
        height: 28px;
        margin: 0 5px;
      }
    }

    .title {
      margin-bottom: 3px;
      color: $gizra-blue;
    }

    .subtitle {
      letter-spacing: -1px;
    }
  }
}

#about {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 90px 0;

  @include mobile {
    padding: 20px 0;
  }

  h2 {
    text-transform: uppercase;
    font-size: 19px;
    margin-bottom: 25px;
  }

  .text-wrapper {

    .title {
      font-size: 22px;
      font-weight: bolder;
      margin-bottom: 14px;
      line-height: 1.2em;
    }

    p {
      font-size: 20px;
      margin-bottom: 12px;
      letter-spacing: 0.8px;
      line-height: 1.5em;
    }
  }
}

.blog {
  margin-top: 27px;
  margin-bottom: 85px;
  letter-spacing: 0.5px;

  @include mobile {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  h2 {
    text-transform: uppercase;
    font-size: 19px;
    letter-spacing: -0.5px;
    margin-bottom: 25px;
  }


  .article-details {
    font-size: 17px;
    margin-bottom: 40px;

    .name {
      margin-top: 24px;
      line-height: 20px;
      margin-bottom: 0;
    }

    .date {
      margin-top: 0;
    }

    img {
      width: 90px;
      float: left;
      margin-right: 15px;
    }
  }

  .article {

    .title {
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 15px;
    }

    a {
      color: $gizra-orange;
    }

    p {
      font-size: 18px;
      line-height: 1.5em;
    }
  }

  .read-more {
    display: block;
    margin-top: 15px;
    font-size: 23px;

    a {
      color: $gizra-orange;
      font-weight: normal;
    }
  }
}

#disqus_thread {
  margin-bottom: 165px;
}

#contact {
  background: url('/images/homepage/contact/footer.png') no-repeat center top;
  background-size: cover;
  margin-top: 0;
  position: relative;

  @include desktop {
    height: 660px;
  }

  .contact-wrapper {
    padding-top: 337px;
  }

  h2 {
    font-size: 14px;
    margin: 0 0 7px;
    line-height: normal;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
  }

  address {
    margin: 0;
    text-align: center;
    color: white;

    div {
      padding: 0;
      font-size: 22px;
      letter-spacing: 1px;

      @media (max-width: $screen-sm-min) {
        font-size: 29px;
      }

      &.telephone {
        margin: 0;
        display: block;
        letter-spacing: 1px;
      }

      a {
        color: white;

        &.email {
          text-align: center;
          padding: 3px 25px 8px 28px;
          color: white;
          margin-top: 1px;
          display: inline-block;
          font-size: 18px;
          letter-spacing: 1px;
        }
      }
    }
  }
}

.demo-block a {
  margin-top: 20px;
  display: inline-block;
  padding: 10px;
  border-radius: 4px;
  color: #ffffff;
  background: $gizra-blue;
}

// Media queries.
@include desktop {

  // Default.
  .container {
    min-width: 1200px;
  }

  header,
  header .container,
  .header-post .container,
  .header-team .container,
  #team-page .container,
  #contact {
    min-width: 1336px;
  }
}
