.footer-container {
  background: transparent;
  margin-top: 35px;
}
.footer-container h4.title-bg {
  position: relative;
  background: transparent;
  text-align: center;
  border-top: none;
  border-bottom: 1px dotted #e06e5c;
  line-height: 0.1em;
  margin: 10px 0 20px;
  width: 100%;
  padding: 0;
  font-size: 40px;
}
.footer-container h4.title-bg a {
  background: url(../images/background.png);
  text-decoration: none;
  text-transform: none;
}
.footer-container h4.title-bg a.primary {
  padding: 0 25px;
  font-family: Abril Fatface;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  text-shadow: 0px 0px 1px #aaaaaa;
}
.footer-container h4.title-bg a.secondary {
  position: absolute;
  right: 0;
  text-align: right;
  padding-left: 5px;
}
.footer-container h5.title-bg {
  color: #e06e5c;
}

.bottom {
  background: white;
  border-top: 3px solid #ccdce1;
}
.bottom .copyright {
  margin-top: 35px;
  color: #e3e3e3;
}

header {
  background: white;
  border-bottom: 3px solid #ccdce1;
}
header .header-row {
  margin-bottom: 10px;
}
header .logo {
  font-family: Abril Fatface;
  font-style: normal;
  font-weight: 400;
  font-size: 74px;
  line-height: 74px;
  margin-top: 15px;
  color: #e06e5c;
}
header .logo a {
  text-decoration: none;
  color: #e06e5c;
  text-shadow: 0px 0px 1px #aaaaaa;
}
header .navigation {
  margin-top: 53px;
}
header .navigation .navbar {
  background: transparent;
  border: none;
  margin-bottom: 8px;
}
header .navigation .navbar .nav > li > a {
  color: #e06e5c;
  font-size: 18px;
  padding-right: 7px;
}
header .navigation .navbar .nav > li > a:last {
  padding-right: 0;
}

@media (min-width: 768px) {
  header {
    position: fixed;
    width: 100%;
    z-index: 1000;
  }

  .main-container > section {
    margin-top: 200px;
  }

  .main-container > .content {
    margin-top: 110px;
  }
}
body.home a {
  color: #e06e5c;
}
body.home .main-container .content {
  padding-top: 35px;
}
body.home .main-container .page-header {
  border: none;
  margin-bottom: 35px;
}
body.home .main-container h1 {
  color: #046596;
  text-align: center;
  font-weight: 400;
  text-transform: none;
}
body.home .main-container h1 .bigger {
  font-size: 33px;
  line-height: 33px;
  letter-spacing: 2px;
}
body.home .main-container h1 .smaller {
  font-size: 28px;
  line-height: 28px;
  letter-spacing: 1px;
}
body.home .main-container .gallery-row {
  margin-bottom: 40px;
}
body.home .main-container .gallery-row h2.title-bg {
  position: relative;
  background: transparent;
  text-align: center;
  border-top: none;
  border-bottom: 1px dotted #e06e5c;
  line-height: 0.1em;
  margin: 10px 0 20px;
  width: 100%;
  padding: 0;
  font-size: 40px;
}
body.home .main-container .gallery-row h2.title-bg a {
  background: url(../images/background.png);
  text-decoration: none;
  text-transform: none;
}
body.home .main-container .gallery-row h2.title-bg a.primary {
  padding: 0 25px;
  font-family: Abril Fatface;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  text-shadow: 0px 0px 1px #aaaaaa;
}
body.home .main-container .gallery-row h2.title-bg a.secondary {
  position: absolute;
  right: 0;
  text-align: right;
  padding-left: 5px;
}
body.home .main-container .gallery-row .secondary-title {
  text-align: center;
  color: #e06e5c;
  font-size: 16px;
  line-height: 30px;
}
body.home .main-container .contributions-row li.gallery-item .short-name-wrapper {
  width: 270px;
  height: 218px;
}
body.home .main-container .contributions-row li.gallery-item .short-name-wrapper.box-1 {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #128ba1), color-stop(100%, #0a505c));
  background-image: -webkit-linear-gradient(#128ba1, #0a505c);
  background-image: -moz-linear-gradient(#128ba1, #0a505c);
  background-image: -o-linear-gradient(#128ba1, #0a505c);
  background-image: linear-gradient(#128ba1, #0a505c);
}
body.home .main-container .contributions-row li.gallery-item .short-name-wrapper.box-2 {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #10a067), color-stop(100%, #095a3a));
  background-image: -webkit-linear-gradient(#10a067, #095a3a);
  background-image: -moz-linear-gradient(#10a067, #095a3a);
  background-image: -o-linear-gradient(#10a067, #095a3a);
  background-image: linear-gradient(#10a067, #095a3a);
}
body.home .main-container .contributions-row li.gallery-item .short-name-wrapper.box-3 {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9d550a), color-stop(100%, #552e05));
  background-image: -webkit-linear-gradient(#9d550a, #552e05);
  background-image: -moz-linear-gradient(#9d550a, #552e05);
  background-image: -o-linear-gradient(#9d550a, #552e05);
  background-image: linear-gradient(#9d550a, #552e05);
}
body.home .main-container .contributions-row li.gallery-item .short-name-wrapper.box-4 {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a03912), color-stop(100%, #5b210a));
  background-image: -webkit-linear-gradient(#a03912, #5b210a);
  background-image: -moz-linear-gradient(#a03912, #5b210a);
  background-image: -o-linear-gradient(#a03912, #5b210a);
  background-image: linear-gradient(#a03912, #5b210a);
}
body.home .main-container .contributions-row li.gallery-item .short-name-wrapper .short-name {
  text-align: center;
  padding: 20px;
}
body.home .main-container .contributions-row li.gallery-item .short-name-wrapper .short-name a {
  font-family: Abril Fatface;
  font-style: normal;
  font-weight: 400;
  font-size: 130px;
  line-height: 130px;
  text-transform: lowercase;
  color: white;
  text-decoration: none;
}
body.home .main-container .info-row .person {
  margin-bottom: 35px;
}
body.home .main-container .info-row .person .image-wrapper {
  float: left;
  margin-right: 15px;
}
body.home .main-container .info-row .person .text-wrapper {
  margin-left: 95px;
}
body.home .main-container .info-row .person .text-wrapper .name {
  font-weight: bold;
}
body.home .main-container .info-row .person .text-wrapper .title {
  color: #646464;
}
body.home .main-container .info-row .quotes .flexslider {
  background: transparent;
}
body.home .main-container .info-row .quotes .quote {
  background: white;
  color: #046596;
  font-style: italic;
  font-weight: 400;
  font-size: 35px;
  line-height: 35px;
  border-bottom: 1px solid #e3e3e3;
  padding: 20px;
}
body.home .main-container .info-row .quotes .quote:before {
  content: "“";
}
body.home .main-container .info-row .quotes .quote:after {
  content: "”";
}
body.home .main-container .info-row .quotes .source {
  color: #646464;
  text-align: right;
  float: right;
  padding-right: 20px;
  padding-top: 25px;
  position: relative;
  margin-top: -1px;
}
body.home .main-container .info-row .quotes .source .triangle:before {
  content: "";
  position: absolute;
  top: 0;
  right: 20px;
  border: 0;
  border-left-width: 20px;
  border-bottom-width: 20px;
  border-style: solid;
  border-color: transparent white;
  display: block;
  width: 0;
}
body.home .main-container .clients-row li.gallery-item {
  line-height: 95px;
  text-align: center;
}
body.home .main-container .clients-row li.gallery-item img {
  vertical-align: middle;
}
body.home .main-container .blog-row .teasers {
  margin-top: 70px;
}
body.home .main-container .blog-row ul.list-wrapper {
  margin: 0;
  list-style: none;
}
body.home .main-container .blog-row ul.list-wrapper .date {
  color: #646464;
  font-size: 15px;
  line-height: 15px;
}
body.home .main-container .blog-row ul.list-wrapper .title {
  color: #046596;
  font-size: 26px;
  line-height: 26px;
}
body.home .main-container .blog-row ul.list-wrapper .teaser {
  font-size: 18px;
  line-height: 18px;
  color: #282828;
  margin-bottom: 70px;
}
body.home .main-container h3 {
  color: #e06e5c;
  text-transform: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.main-container {
  font-family: "Source Sans Pro";
  font-style: normal;
}

body {
  background: url(../images/background.png);
}

a.secondary {
  font-size: 16px;
  line-height: 16px;
}
a.secondary:after {
  content: " \00BB";
}

.hll {
  background-color: #ffffcc;
}

.c {
  color: #408080;
  font-style: italic;
}

/* Comment */
.err {
  border: 1px solid #FF0000;
}

/* Error */
.k {
  color: #008000;
  font-weight: bold;
}

/* Keyword */
.o {
  color: #666666;
}

/* Operator */
.cm {
  color: #408080;
  font-style: italic;
}

/* Comment.Multiline */
.cp {
  color: #BC7A00;
}

/* Comment.Preproc */
.c1 {
  color: #408080;
  font-style: italic;
}

/* Comment.Single */
.cs {
  color: #408080;
  font-style: italic;
}

/* Comment.Special */
.gd {
  color: #A00000;
}

/* Generic.Deleted */
.ge {
  font-style: italic;
}

/* Generic.Emph */
.gr {
  color: #FF0000;
}

/* Generic.Error */
.gh {
  color: #000080;
  font-weight: bold;
}

/* Generic.Heading */
.gi {
  color: #00A000;
}

/* Generic.Inserted */
.go {
  color: #888888;
}

/* Generic.Output */
.gp {
  color: #000080;
  font-weight: bold;
}

/* Generic.Prompt */
.gs {
  font-weight: bold;
}

/* Generic.Strong */
.gu {
  color: #800080;
  font-weight: bold;
}

/* Generic.Subheading */
.gt {
  color: #0044DD;
}

/* Generic.Traceback */
.kc {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Constant */
.kd {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Declaration */
.kn {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Namespace */
.kp {
  color: #008000;
}

/* Keyword.Pseudo */
.kr {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Reserved */
.kt {
  color: #B00040;
}

/* Keyword.Type */
.m {
  color: #666666;
}

/* Literal.Number */
.s {
  color: #BA2121;
}

/* Literal.String */
.na {
  color: #7D9029;
}

/* Name.Attribute */
.nb {
  color: #008000;
}

/* Name.Builtin */
.nc {
  color: #0000FF;
  font-weight: bold;
}

/* Name.Class */
.no {
  color: #880000;
}

/* Name.Constant */
.nd {
  color: #AA22FF;
}

/* Name.Decorator */
.ni {
  color: #999999;
  font-weight: bold;
}

/* Name.Entity */
.ne {
  color: #D2413A;
  font-weight: bold;
}

/* Name.Exception */
.nf {
  color: #0000FF;
}

/* Name.Function */
.nl {
  color: #A0A000;
}

/* Name.Label */
.nn {
  color: #0000FF;
  font-weight: bold;
}

/* Name.Namespace */
.nt {
  color: #008000;
  font-weight: bold;
}

/* Name.Tag */
.nv {
  color: #19177C;
}

/* Name.Variable */
.ow {
  color: #AA22FF;
  font-weight: bold;
}

/* Operator.Word */
.w {
  color: #bbbbbb;
}

/* Text.Whitespace */
.mf {
  color: #666666;
}

/* Literal.Number.Float */
.mh {
  color: #666666;
}

/* Literal.Number.Hex */
.mi {
  color: #666666;
}

/* Literal.Number.Integer */
.mo {
  color: #666666;
}

/* Literal.Number.Oct */
.sb {
  color: #BA2121;
}

/* Literal.String.Backtick */
.sc {
  color: #BA2121;
}

/* Literal.String.Char */
.sd {
  color: #BA2121;
  font-style: italic;
}

/* Literal.String.Doc */
.s2 {
  color: #BA2121;
}

/* Literal.String.Double */
.se {
  color: #BB6622;
  font-weight: bold;
}

/* Literal.String.Escape */
.sh {
  color: #BA2121;
}

/* Literal.String.Heredoc */
.si {
  color: #BB6688;
  font-weight: bold;
}

/* Literal.String.Interpol */
.sx {
  color: #008000;
}

/* Literal.String.Other */
.sr {
  color: #BB6688;
}

/* Literal.String.Regex */
.s1 {
  color: #BA2121;
}

/* Literal.String.Single */
.ss {
  color: #19177C;
}

/* Literal.String.Symbol */
.bp {
  color: #008000;
}

/* Name.Builtin.Pseudo */
.vc {
  color: #19177C;
}

/* Name.Variable.Class */
.vg {
  color: #19177C;
}

/* Name.Variable.Global */
.vi {
  color: #19177C;
}

/* Name.Variable.Instance */
.il {
  color: #666666;
}

/* Literal.Number.Integer.Long */
