.footer-container {
  background: transparent;
}
.footer-container .footer-col {
  color: black;
}
.footer-container .footer-col h5 {
  color: #ef4f1d;
}
.footer-container .contact-form .grippie {
  display: none;
}

header {
  background: white;
  border-bottom: 2px solid #ccdce1;
}
header .header-row {
  margin-bottom: 10px;
}
header .logo {
  font-family: Abril Fatface;
  font-style: normal;
  font-weight: 400;
  font-size: 74px;
  line-height: 74px;
  margin-top: 15px;
  color: #ef4f1d;
}
header .navigation {
  margin-top: 53px;
}
header .navigation .navbar {
  background: transparent;
  border: none;
  margin-bottom: 8px;
}
header .navigation .navbar .nav > li > a {
  color: #ef4f1d;
  font-size: 18px;
}

@media (min-width: 768px) {
  header {
    position: fixed;
    width: 100%;
    z-index: 1000;
  }

  .main-container > section {
    margin-top: 200px;
  }
}
.main-container .content {
  padding-top: 35px;
}
.main-container .page-header {
  border: none;
}
.main-container h1 {
  color: #046596;
  text-align: center;
  font-weight: 600;
  text-transform: none;
}
.main-container h1 .bigger {
  font-size: 31px;
  line-height: 31px;
  letter-spacing: 2px;
}
.main-container h1 .smaller {
  font-size: 28px;
  line-height: 28px;
  letter-spacing: 1px;
}
.main-container h5.title-bg {
  position: relative;
  background: transparent;
  text-align: center;
  border-top: none;
  border-bottom: 1px solid #ef4f1d;
  line-height: 0.1em;
  margin: 10px 0 20px;
  width: 100%;
  padding: 0;
}
.main-container h5.title-bg a {
  background: #fff;
  padding: 0 10px;
}
.main-container h5.title-bg a.secondary {
  position: absolute;
  right: 0;
  background: white;
  line-height: 11px;
  top: -7px;
  text-align: right;
}

h1,
h2,
h3,
h4,
h5,
h6,
.main-container {
  font-family: "Source Sans Pro";
  font-style: normal;
}
h1 .content,
h2 .content,
h3 .content,
h4 .content,
h5 .content,
h6 .content,
.main-container .content {
  margin-top: 110px;
}

h4.title-bg {
  background: transparent;
  text-align: center;
  border-top: none;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
  width: 100%;
  padding: 0;
}
h4.title-bg a {
  background: #fff;
  padding: 0 10px;
}
