.footer-container {
  background: transparent;
}
.footer-container .footer-col {
  color: black;
}
.footer-container .footer-col h5 {
  color: #e06e5c;
}
.footer-container .contact-form .grippie {
  display: none;
}

header {
  background: white;
  border-bottom: 2px solid #ccdce1;
}
header .header-row {
  margin-bottom: 10px;
}
header .logo {
  font-family: Abril Fatface;
  font-style: normal;
  font-weight: 400;
  font-size: 74px;
  line-height: 74px;
  margin-top: 15px;
  color: #e06e5c;
}
header .logo a {
  text-decoration: none;
  color: #e06e5c;
  text-shadow: 0px 0px 1px #aaaaaa;
}
header .navigation {
  margin-top: 53px;
}
header .navigation .navbar {
  background: transparent;
  border: none;
  margin-bottom: 8px;
}
header .navigation .navbar .nav > li > a {
  color: #e06e5c;
  font-size: 18px;
}

@media (min-width: 768px) {
  header {
    position: fixed;
    width: 100%;
    z-index: 1000;
  }

  .main-container > section {
    margin-top: 200px;
  }

  .main-container .content {
    margin-top: 110px;
  }
}
body.home a {
  color: #e06e5c;
}

.main-container .content {
  padding-top: 35px;
}
.main-container .page-header {
  border: none;
  margin-bottom: 35px;
}
.main-container h1 {
  color: #046596;
  text-align: center;
  font-weight: 600;
  text-transform: none;
}
.main-container h1 .bigger {
  font-size: 31px;
  line-height: 31px;
  letter-spacing: 2px;
}
.main-container h1 .smaller {
  font-size: 28px;
  line-height: 28px;
  letter-spacing: 1px;
}
.main-container .gallery-row {
  margin-bottom: 50px;
}
.main-container .gallery-row h2.title-bg {
  position: relative;
  background: transparent;
  text-align: center;
  border-top: none;
  border-bottom: 1px dotted #e06e5c;
  line-height: 0.1em;
  margin: 10px 0 20px;
  width: 100%;
  padding: 0;
  font-size: 40px;
}
.main-container .gallery-row h2.title-bg a {
  background: url(../images/background.png);
  padding: 0 25px;
  text-decoration: none;
  text-transform: none;
}
.main-container .gallery-row h2.title-bg a.primary {
  font-family: Abril Fatface;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  text-shadow: 0px 0px 1px #aaaaaa;
}
.main-container .gallery-row h2.title-bg a.secondary {
  position: absolute;
  right: 0;
  text-align: right;
  font-size: 16px;
  line-height: 16px;
}
.main-container .gallery-row h2.title-bg a.secondary:after {
  content: " \00BB";
}
.main-container .gallery-row .secondary-title {
  text-align: center;
  color: #e06e5c;
  font-size: 16px;
  line-height: 30px;
}
.main-container .contributions-row li.gallery-item .short-name-wrapper {
  width: 270px;
  height: 218px;
}
.main-container .contributions-row li.gallery-item .short-name-wrapper.box-1 {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #128ba1), color-stop(100%, #0a505c));
  background-image: -webkit-linear-gradient(#128ba1, #0a505c);
  background-image: -moz-linear-gradient(#128ba1, #0a505c);
  background-image: -o-linear-gradient(#128ba1, #0a505c);
  background-image: linear-gradient(#128ba1, #0a505c);
}
.main-container .contributions-row li.gallery-item .short-name-wrapper.box-2 {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #10a067), color-stop(100%, #095a3a));
  background-image: -webkit-linear-gradient(#10a067, #095a3a);
  background-image: -moz-linear-gradient(#10a067, #095a3a);
  background-image: -o-linear-gradient(#10a067, #095a3a);
  background-image: linear-gradient(#10a067, #095a3a);
}
.main-container .contributions-row li.gallery-item .short-name-wrapper.box-3 {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9d550a), color-stop(100%, #552e05));
  background-image: -webkit-linear-gradient(#9d550a, #552e05);
  background-image: -moz-linear-gradient(#9d550a, #552e05);
  background-image: -o-linear-gradient(#9d550a, #552e05);
  background-image: linear-gradient(#9d550a, #552e05);
}
.main-container .contributions-row li.gallery-item .short-name-wrapper.box-4 {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a03912), color-stop(100%, #5b210a));
  background-image: -webkit-linear-gradient(#a03912, #5b210a);
  background-image: -moz-linear-gradient(#a03912, #5b210a);
  background-image: -o-linear-gradient(#a03912, #5b210a);
  background-image: linear-gradient(#a03912, #5b210a);
}
.main-container .contributions-row li.gallery-item .short-name-wrapper .short-name {
  text-align: center;
  padding: 20px;
}
.main-container .contributions-row li.gallery-item .short-name-wrapper .short-name a {
  font-family: Abril Fatface;
  font-style: normal;
  font-weight: 400;
  font-size: 130px;
  line-height: 130px;
  text-transform: lowercase;
  color: white;
  text-decoration: none;
}
.main-container .info-row .person {
  margin-bottom: 35px;
}
.main-container .info-row .person .image-wrapper {
  float: left;
  margin-right: 15px;
}
.main-container .info-row .person .text-wrapper {
  margin-left: 95px;
}
.main-container .info-row .person .text-wrapper .name {
  font-weight: bold;
}
.main-container .info-row .person .text-wrapper .title {
  color: #646464;
}
.main-container .info-row .quotes .flexslider {
  background: transparent;
}
.main-container .info-row .quotes .quote {
  background: white;
  color: #046596;
  font-style: italic;
  font-size: 40px;
  line-height: 40px;
  border-bottom: 1px solid #e3e3e3;
  padding: 20px;
}
.main-container .info-row .quotes .quote:before {
  content: "\"";
}
.main-container .info-row .quotes .quote:after {
  content: "\"";
}
.main-container .info-row .quotes .source {
  color: #646464;
  text-align: right;
  float: right;
  padding-right: 20px;
  padding-top: 25px;
  position: relative;
  margin-top: -1px;
}
.main-container .info-row .quotes .source .triangle:before {
  content: "";
  position: absolute;
  top: 0;
  right: 20px;
  border: 0;
  border-left-width: 20px;
  border-bottom-width: 20px;
  border-style: solid;
  border-color: transparent white;
  display: block;
  width: 0;
}
.main-container h3 {
  color: #e06e5c;
  text-transform: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.main-container {
  font-family: "Source Sans Pro";
  font-style: normal;
}

body {
  background: url(../images/background.png);
}

h4.title-bg {
  background: transparent;
  text-align: center;
  border-top: none;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
  width: 100%;
  padding: 0;
}
h4.title-bg a {
  background: #fff;
  padding: 0 10px;
}
