<div class="row post-full">
  <div class="span12">
    <div class="page-title-bg"><a href="/blog">blog</a></div>

    <div class="row clearfix no-margin">

      <div class="span2">
        {% assign post = page %}
        {% include custom/post_sidebar.html %}
      </div>

      <div class="span10 content-wrapper">
        <div class="page-header">
          <h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
        </div>

        <div class="content">
          {{ content }}

          <div class="pagination">
            <div class="border"></div>
            <div class="previous">
            {% if page.previous %}
            <strong>Previous post:</strong> <a href="{{ BASE_PATH }}{{ page.previous.url }}" >{{ page.previous.title }}</a>
            {% endif %}
            </div>

            <div class="next">
            {% if page.next %}
              <strong>Next post:</strong> <a href="{{ BASE_PATH }}{{ page.next.url }}" >{{ page.next.title }}</a>
            {% endif %}
            </div>
          </div>

          {% assign author = site.authors[author]} %}
          {% include custom/author.html %}

          {% include JB/comments %}
          {% include custom/comments_count %}
        </div>
      </div>
    </div>

  </div>
</div>
