<div class="row post-full">
  <div class="span12">
    <div class="title-bg"><span>blog</span></div>

    <div class="row clearfix no-margin">

      <div class="span2">
        <div class="date">{{ page.date | date_to_long_string }}</div>
        <div class="author">By {{ page.author }}</div>

        {% unless page.categories == empty %}
        <ul class="tag_box inline">
          <li><i class="icon-folder-open"></i></li>
          {% assign categories_list = page.categories %}
          {% include JB/categories_list %}
        </ul>
        {% endunless %}

        {% unless page.tags == empty %}
        <ul class="tag_box inline">
          <li><i class="icon-tags"></i></li>
          {% assign tags_list = page.tags %}
          {% include JB/tags_list %}
        </ul>
        {% endunless %}
      </div>

      <div class="span6 content-wrapper">
        <div class="page-header">
          <h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
        </div>

        <div class="content">
          {{ content }}

          <div class="pagination">
            {% if page.previous %}
            Previous post: <a href="{{ BASE_PATH }}{{ page.previous.url }}" >{{ page.previous.title }}</a>
            {% endif %}
          </div>


          {% include JB/comments %}
        </div>
      </div>

      <div class="span4 sidebar">
        <h3>Popular posts</h3>
      </div>

    </div>

  </div>
</div>
