<div class="row post-full">
  <div class="span12">
    <div class="title-bg"><span>blog</span></div>

    <div class="row clearfix no-margin">

      <div class="span2">
        <div class="date">{{ page.date | date_to_long_string }}</div>


        {% if page.author == null %}
          {% assign author = "Amitaibu" %}
        {% else %}
          {% assign author = page.author %}
        {% endif %}

        <div class="author">By {{site.authors[author].name}}</div>

        <div class="comment-count">
          <i class="icon-comment"></i><a href="{{page.url}}#disqus_thread"></a>
        </div>

        {% unless page.tags == empty %}
        <ul class="tag_box inline">
          <li><i class="icon-tags"></i></li>
          {% assign tags_list = page.tags %}
          {% include JB/tags_list %}
        </ul>
        {% endunless %}
      </div>

      <div class="span10 content-wrapper">
        <div class="page-header">
          <h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
        </div>

        <div class="content">
          {{ content }}

          <div class="pagination">
            <div class="border"></div>
            <div class="previous">
            {% if page.previous %}
            <strong>Previous post:</strong> <a href="{{ BASE_PATH }}{{ page.previous.url }}" >{{ page.previous.title }}</a>
            {% endif %}
            </div>

            <div class="next">
            {% if page.next %}
              <strong>Next post:</strong> <a href="{{ BASE_PATH }}{{ page.next.url }}" >{{ page.next.title }}</a>
            {% endif %}
            </div>
          </div>

          {% assign author = site.authors[author]} %}
          {% include custom/author.html %}

          {% include JB/comments %}
          {% include custom/comments_count %}
        </div>
      </div>
    </div>

  </div>
</div>
