<div class="row website">
  <div class="span12">
    <div class="page-title-bg"><a href="/portfolio">work</a></div>

    <div class="row clearfix no-margin">

      <div class="span6">


        <div class="flexslider">
          <ul class="slides">
            {% assign count = 1 %}
            {% for image in page.images %}
              <li><img src="{{ BASE_PATH }}/{{ page.url }}/{{ count }}.jpg" /></li>
            {% assign count=count | plus:1 %}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="span6">
        <div class="page-header">
          <h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
        </div>

        <div class="content">
          {{ content }}

          <a href="/portfolio">Back to Work section</a>
        </div>
      </div>
    </div>

  </div>
</div>
