@media (max-width: 767px) {

  body.about-page {
    padding-left: 0;
    padding-right: 0;
  }
}

body.about-page {

  @media (min-width: 1200px) {

    .container {
      width: 940px;
    }
  }

  h1,
  p {
    color: black;
  }

  p {
    font-size: 20px;
    line-height: 40px;
    margin-top: 60px;
    font-family: 'Source Sans Pro';
  }

  h1 {
    text-align: center;
    font-size: 60px;
    line-height: 60px;
    margin-top: 50px;
    font-weight: lighter;
    font-family: 'Abril Fatface';
    text-shadow: 2px 1px 1px white;
  }

  .section1 {

    p.last {
      margin-bottom: 60px;
    }
  }

  .section2 {
    background: url('../images/about-background.jpg') no-repeat no-repeat;
    height: 300px;
  }

  .section3 {
    margin-bottom: 50px;
  }

  .section4 {
    background: url('../images/about2-background.jpg') no-repeat no-repeat;
    border-radius: 50%;
    width: 600px;
    height: 600px;
    margin: 0 auto 50px auto;
    border: 10px solid white;

    .backstretch {
      border-radius: 50%;
    }
  }

  .image-section {
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    background-attachment: fixed;
    background-size: cover;
  }

  @media (max-width: 767px) {

    .text-section {
      padding-left: 20px;
      padding-right: 20px;
    }

    .section4 {
      width: 300px;
      height: 300px;
    }
  }
}
