@import "variables";

.post-full {

  .content-wrapper {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $blue;
      text-transform: none;
    }

    h1 {
      font-size: 26px;
      line-height: 26px;
      margin-top: 3px;
      margin-bottom: 20px;
    }

    h2,
    h3,
    h4 {
      color: black;
      font-weight: bold;
      font-size: 18px;
      margin-top: 0;
      margin-bottom: 0;
      line-height: 35px;
    }

    p {
      font-size: 18px;
      line-height: 27px;
      margin-bottom: 10px;
    }

    a {
      color: $blue;
      text-decoration: underline;
    }

    .pagination {
      margin-top: 13px;
      font-size: 16px;

      .border {
        border-top: 1px dotted $gray;
        max-width: 140px;
        margin-bottom: 14px;
      }

      .next {
        margin-top: 5px;
      }

      a {
        color: $orange;
      }
    }
  }

  .title-bg {
    margin-top: 75px;
    margin-bottom: 45px;
    color: $orange;
    background: transparent;
    text-align: left;
    border-bottom: 1px dotted $orange;
    padding: 0;
    line-height: 10px;

    a {
      background: url(../images/background.png);
      padding-right :7px;
      font-family: Abril Fatface;
      font-style: normal;
      font-weight: 400;
      font-size: 50px;
      text-decoration: none;
      color: $orange;
      @include single-text-shadow;
    }
  }
}

.post-teaser {
  margin-bottom: 50px;

  h2 {
    margin-top: 0;
    font-size: 26px;
    line-height: 26px;
    margin-top: 3px;
    margin-bottom: 20px;

    a {
      color :$blue;
      text-transform: none;
    }
  }

  p {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 10px;
  }
}

.post-full,
.post-teaser {

  .date {
    color: $gray;
    font-size: 15px;
    line-height: 15px;
    margin-top: 3px;
  }

  .author {
    font-size: 16px;
    line-height: 16px;
    margin-top: 6px;
  }

  .comment-count {
    border-top: 1px dotted $gray;
    padding-top: 10px;
    margin-top: 10px;

    a {
      font-size: 14px;
      line-height: 14px;
      margin-left: 5px;
    }
  }

  .tag_box {

    li {
      margin: 0;
      padding-right: 2px;
      padding-left: 0;

      a {
        font-size: 14px;
        line-height: 14px;
      }

      a:after {
        content: ", ";
      }


      &:last-child {

        a:after {
          content: "";
        }

      }
    }
  }
}

body.blog-list {

  .page-header {
    margin-top: 75px;
    margin-bottom: 45px;
    color: $orange;
    border-bottom: 1px dotted $orange;
    padding: 0;

    h1 {
      background: url(../images/background.png);
      padding-right :7px;
      font-family: Abril Fatface;
      font-style: normal;
      font-weight: 400;
      font-size: 50px;
      line-height: 18px;
      color: $orange;
      @include single-text-shadow;
      text-transform: lowercase;
    }
  }

}

