@import "variables";

.post-full {

  .date {
    color: $gray;
    font-size: 15px;
    line-height: 15px;
    margin-top: 3px;
  }

  .author {
    font-size: 16px;
    line-height: 16px;
    margin-top: 6px;
  }

  .comment-count {
    border-top: 1px dotted $gray;
    padding-top: 10px;
    margin-top: 10px;
  }

  .tag_box {

    li {
      margin: 0;
      padding-right: 2px;
      padding-left: 0;

      a:after {
        content: ", ";
      }


      &:last-child {

        a:after {
          content: "";
        }

      }
    }
  }

  .content-wrapper {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $blue;
    }

    h1 {
      font-size: 26px;
      line-height: 26px;
      margin-top: 0;
    }
  }

  .title-bg {
    margin-top: 75px;
    margin-bottom: 45px;
    color: $orange;
    background: transparent;
    text-align: left;
    border-bottom: 1px dotted $orange;
    padding: 0;
    line-height: 10px;

    span {
      background: url(../images/background.png);
      padding-right :7px;
      font-family: Abril Fatface;
      font-style: normal;
      font-weight: 400;
      font-size: 50px;
      @include single-text-shadow;
    }
  }
}
