@import "variables";

.main-container {

  .content {
    padding-top: 35px;
  }

  .page-header {
    border: none;
  }

  h1 {
    color: $blue;
    text-align: center;
    font-weight: 600;
    text-transform: none;

    .bigger {
      font-size: 31px;
      line-height: 31px;
      letter-spacing: 2px;
    }

    .smaller {
      font-size: 28px;
      line-height: 28px;
      letter-spacing: 1px;
    }
  }

  h5.title-bg {
    position: relative;
    background: transparent;
    text-align: center;
    border-top: none;
    border-bottom: 1px solid $orange;
    line-height: 0.1em;
    margin:10px 0 20px;
    width:100%;
    padding: 0;

    a {
      background:#fff;
      padding:0 10px;
    }

    a.secondary {
      position: absolute;
      right: 0;
      background: white;
      line-height: 11px;
      top: -7px;
      text-align: right;
    }
  }
}

