@import "variables";

body.home {

  a {
    color: $orange;
  }
}

.main-container {

  .content {
    padding-top: 35px;
  }

  .page-header {
    border: none;
    margin-bottom: 35px;
  }

  h1 {
    color: $blue;
    text-align: center;
    font-weight: 600;
    text-transform: none;

    .bigger {
      font-size: 31px;
      line-height: 31px;
      letter-spacing: 2px;
    }

    .smaller {
      font-size: 28px;
      line-height: 28px;
      letter-spacing: 1px;
    }
  }

  .gallery-row {
    margin-bottom: 60px;

    h5.title-bg {
      position: relative;
      background: transparent;
      text-align: center;
      border-top: none;
      border-bottom: 1px dotted $orange;
      line-height: 0.1em;
      margin:10px 0 20px;
      width:100%;
      padding: 0;
      font-size: 40px;

      a {
        background: url(../images/background.png);
        padding:0 10px;
        text-decoration: none;
      }

      a.primary {
        font-family: Abril Fatface;
        font-style: normal;
        font-weight: 400;
        @include single-text-shadow;
      }

      a.secondary {
        position: absolute;
        right: 0;
        top: -7px;
        text-align: right;
        font-size: 16px;
        line-height: 16px;
        text-transform: none;

        &:after {
          content: " \00BB";
        }
      }
    }

    .secondary {
      text-align: center;
    }
  }

  .contributions-row {

    li.gallery-item {

      .short-name-wrapper {
        width: 270px;
        height: 218px;
        @include text-shadow(rgba(255,255,255,0.9) 0 1px 1px);
        @include striped-bg;

        .short-name {
          text-align: center;
          padding: 20px;

          a {
            font-family: Abril Fatface;
            font-style: normal;
            font-weight: 400;
            font-size: 130px;
            line-height: 130px;
            text-transform: lowercase;
            color: white;
            text-decoration: none;
          }
        }
      }
    }

  }
}

