@import "variables";

header {
  background: white;
  border-bottom: 2px solid $lightBlue;

  .header-row {
    margin-bottom: 10px;
  }

  .logo {
    font-family: Abril Fatface;
    font-style: normal;
    font-weight: 400;
    font-size: 74px;
    line-height: 74px;
    margin-top: 15px;
    color: $orange;
  }

  .navigation {
    margin-top: 53px;

    .navbar {
      background: transparent;
      border: none;
      margin-bottom: 8px;

      .nav > li > a {
        color: $orange;
        font-size: 18px;
      }
    }
  }
}

@media (min-width: 768px) {

  header {
    position: fixed;
    width: 100%;
    z-index: 1000;
  }

  .main-container > section {
    // Push content below the fixed header.
    margin-top: 200px;
  }
}
