@import "variables";

header {
  background: white;
  border-bottom: 3px solid $lightBlue;

  .header-row {
    margin-bottom: 10px;
  }

  .logo {
    font-family: Abril Fatface;
    font-style: normal;
    font-weight: 400;
    font-size: 74px;
    line-height: 74px;
    margin-top: 15px;
    color: $orange;

    a {
      text-decoration: none;
      color: $orange;
      @include single-text-shadow;
    }
  }

  .navigation {
    margin-top: 53px;

    .navbar {
      background: transparent;
      border: none;
      margin-bottom: 8px;

      .nav > li > a {
        color: $orange;
        font-size: 18px;
        padding-right: 7px;

        &:last {
          padding-right: 0;
        }
      }
    }
  }
}

@media (min-width: 768px) {

  header {
    position: fixed;
    width: 100%;
    z-index: 1000;
  }

  .main-container > section {
    // Push content below the fixed header.
    margin-top: 200px;
  }

  .main-container {

    .content {
      margin-top: 110px;
    }
  }

  .title-bg a.primary:before {
    // Make sure fixed header doesn't hide the anchor.
    content: "";
    display: block;
    height: 150px; /* fixed header height*/
    margin: -150px 0 0; /* negative fixed header height */
  }
}
