@mixin striped-bg($bg-color: #ccc, $darken-amount: 5%, $stripe-color: darken($bg-color, $darken-amount)) {
  background-color: $bg-color;
  @include background-image(linear-gradient(-45deg, $stripe-color 25%, transparent 25%, transparent 50%, $stripe-color 50%, $stripe-color 75%, transparent 75%, transparent));
  background-size: 40px 40px;
}


.striped {
  font-family: sans-serif;
  font-weight: bold;
  color: #222;
  text-align: center;
  margin: 2em 1em;
  padding: 0.5em;
}
