@import "compass/css3";
@import "mixins";
@import "variables";

@import "code";
@import "footer";
@import "header";

@import "pages/about";
@import "pages/blog";
@import "pages/front";

h1,
h2,
h3,
h4,
h5,
h6,
.main-container {
  font-family: "Source Sans Pro";
  font-style: normal;
}

body {
  background: url(../images/background.png);
}

a.secondary {
  font-size: 16px;
  line-height: 16px;

  &:after {
    content: " \00BB";
  }
}

.person {
  margin-bottom: 35px;

  .image-wrapper {
    float: left;
    margin-right: 15px;
  }

  .text-wrapper {
    margin-left: 95px;

    .name {
      font-weight: bold;
    }

    .title {
      color: $gray;
    }
  }
}

.page-title-bg {
  margin-top: 75px;
  margin-bottom: 45px;
  color: $orange;
  background: transparent;
  text-align: left;
  border-bottom: 1px dotted $orange;
  padding: 0;
  line-height: 10px;

  a {
    background: url(../images/background.png);
    padding-right :7px;
    font-family: Abril Fatface;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    text-decoration: none;
    color: $orange;
    @include single-text-shadow;
  }
}

body.list-page,
body.blog-list {

  .page-header {
    margin-top: 100px;
    margin-bottom: 45px;
    color: $orange;
    border-bottom: 1px dotted $orange;
    padding: 0;

    h1 {
      // This makes sure the <h1> covers the border.
      float: left;
      margin-top: -45px;
      background: url(../images/background.png);
      padding-right :7px;
      font-family: Abril Fatface;
      font-style: normal;
      font-weight: 400;
      font-size: 50px;
      line-height: 50px;
      color: $orange;
      @include single-text-shadow;
      text-transform: lowercase;
    }
  }
}

// @todo: Move to portfolio
.project-details {
  height: 55px;
  margin: 0 auto;

  a {
    color: $darkGray !important;
    text-transform: none;
    font-size: 16px;
    line-height: 16px;
  }
}
