@import "compass/css3";
@import "mixins";
@import "variables";

@import "code";
@import "footer";
@import "header";


@import "pages/blog";
@import "pages/front";
// @import "menu";
// @import "navbar";
// @import "form";
// @import "sidebar";
// @import "teaser";

h1,
h2,
h3,
h4,
h5,
h6,
.main-container {
  font-family: "Source Sans Pro";
  font-style: normal;
}

body {
  background: url(../images/background.png);
}

a.secondary {
  font-size: 16px;
  line-height: 16px;

  &:after {
    content: " \00BB";
  }
}

.person {
  margin-bottom: 35px;

  .image-wrapper {
    float: left;
    margin-right: 15px;
  }

  .text-wrapper {
    margin-left: 95px;

    .name {
      font-weight: bold;
    }

    .title {
      color: $gray;
    }
  }
}
