@import "compass/css3";
@import "mixins";


@import "footer";
@import "header";
@import "variables";

@import "pages/front";
// @import "menu";
// @import "navbar";
// @import "form";
// @import "sidebar";
// @import "teaser";

h1,
h2,
h3,
h4,
h5,
h6,
.main-container {
  font-family: "Source Sans Pro";
  font-style: normal;
}

body {
  background: url(../images/background.png);
}



